<form name="signup_form" class="form-horizontal" novalidate ng-submit="signupForm()">
    <input type="hidden" ng-model="signup.code"/> 
    <h4>重置你的密码。</h4>
    <input name="code" type="hidden" ng-model="signup.code"/>

    <div class="form-group">
        <label class="col-md-2 control-label">用户名</label>
        <div class="col-md-10">
            <input class="form-control" data-val="true" ng-model="signup.userName" name="userName" type="text"/>
            <div class="text-danger"
                 ng-show="signup_form.userName.$dirty && signup_form.userName.$invalid">
                <small class="error" ng-show="signup_form.userName.$error.required">
                    用户名是必须填的！
                </small>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">电子邮件</label>
        <div class="col-md-10">
            <input type="email" class="form-control"name="email" ng-model="signup.email" required />
            <div class="text-danger"
                 ng-show="signup_form.email.$dirty && signup_form.email.$invalid">
                <small class="error" ng-show="signup_form.email.$error.required">
                    电子邮箱是必须填的！
                </small>
                <small class="error" ng-show="signup_form.email.$error.email">
                    这不是一个有效的电子邮箱！
                </small>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">密码</label>
        <div class="col-md-10">
            <input type="password" name="password" class="form-control" ng-model="signup.password" ng-minlength="8" required />
            <div class="text-danger"
                 ng-show="signup_form.password.$dirty && signup_form.password.$invalid">
                <small ng-show="signup_form.password.$error.required">
                    新密码是必须填的！
                </small>
                <small ng-show="signup_form.password.$error.minlength">
                    新密码必须至少包含8 个字符
                </small>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">确认密码</label>
        <div class="col-md-10">
            <input type="password" name="confirmPassword" class="form-control" ng-model="signup.confirmPassword" ng-minlength="8" required />
            <div class="text-danger"
                 ng-show="signup_form.confirmPassword.$dirty && signup_form.confirmPassword.$invalid">
                <small ng-show="signup_form.confirmPassword.$error.required">
                    确认新密码是必须填的！
                </small>
                <small ng-show="signup_form.confirmPassword.$error.minlength">
                    确认新密码必须至少包含8 个字符
                </small>
            </div>
            <div class="text-danger" ng-show="signup_form.confirmPassword.$dirty && (signup.confirmPassword!==signup.password)">
                <small>新密码和确认密码不匹配</small>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" ng-disabled="signup_form!==undefined && signup_form.$invalid" value="重置" />
        </div>
    </div>
</form>



