<form name="signup_form" class="form-horizontal" novalidate ng-submit="signupForm()">
    <input type="hidden" ng-model="signup.code"/> 
    <h4>重置你的密码。</h4>
    <input name="code" type="hidden" ng-model="signup.code"/>

    <div class="form-group">
        <label class="col-md-2 control-label">用户名</label>
        <div class="col-md-10">
            <input class="form-control" data-val="true" ng-model="signup.userName" name="userName" type="text"/>
            <div class="text-danger"
                 ng-show="signup_form.userName.$dirty && signup_form.userName.$invalid">
                <small ng-show="signup_form.userName.$error.required">
                    用户名是必须填的！
                </small>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">电子邮件</label>
        <div class="col-md-10">
            <input class="form-control" data-val="true" data-val-email="电子邮件 字段不是有效的电子邮件地址。" data-val-required="电子邮件 字段是必需的。" id="Email" name="Email" type="text" value="" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="Password">密码</label>
        <div class="col-md-10">
            <input class="form-control" data-val="true" data-val-length="密码 必须至少包含 6 个字符。" data-val-length-max="100" data-val-length-min="6" data-val-required="密码 字段是必需的。" id="Password" name="Password" type="password" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="ConfirmPassword">确认密码</label>
        <div class="col-md-10">
            <input class="form-control" data-val="true" data-val-equalto="密码和确认密码不匹配。" data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="重置" />
        </div>
    </div>
</form>



