<div panel-warning panel-title="panelTitle">
    <div class="alert alert-info">
        {{message}}
    </div> 
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label">角色名称：</label>
            <div class="col-md-5">
                <input class="form-control" ng-model="roleName"/>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" ng-click="addRole()">新增</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table-hover">
            <thead>
            <tr>
                <th>角色名称</th>
                <th>角色编号</th>
                <th>查询操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="role in manageRoles">
                <td>{{role.name}}</td>
                <td>{{role.roleId}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
