<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            告警数据库历史统计
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <label>开始日期：</label>
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="beginDate.value"
                           is-open="beginDate.opened" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="beginDate.opened = true">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>

            <div class="co-md-6">
                <label>结束日期：</label>
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="endDate.value"
                           is-open="endDate.opened" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="endDate.opened = true">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>日期</th>
                <th>告警数量</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stat in dumpHistory">
                <td>{{stat.dateString}}</td>
                <td>{{stat.alarms}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            告警导入进度
        </h3>
    </div>
    <div class="panel-body">
        <p>
            <button class="btn btn-primary" ng-click="dumpItems()">一键导入</button>
            <button class="btn btn-warning" ng-click="clearItems()">清除缓存</button>
        </p>
        <div ng-include="'/appViews/Import/ImportProgress.html'"></div>
    </div>
</div>
