<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{page.title}}
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <label>开始日期：</label>
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="beginDate.value"
                           is-open="beginDate.opened" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="beginDate.opened = true">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
                <label>结束日期：</label>
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="endDate.value"
                           is-open="endDate.opened" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="endDate.opened = true">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <label>排序依据:</label>
                <div class="input-group">
                    <select class="form-control" ng-model="orderPolicy.selected" ng-options="o as o for o in orderPolicy.options"></select>
                </div>
                <label>TOP个数：</label>
                <div class="input-group">
                    <select class="form-control" ng-model="topCount.selected" ng-options="c as c for c in topCount.options"></select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success" ng-click="showTrend()">
                            <i class="glyphicon glyphicon-search" title="统计数据"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div ng-include="'/appViews/BasicKpi/TopDrop2GTrendTable.html'"></div>
    </div>
</div>