
@{
    ViewBag.Title = "QUnit Headless Test Suite";
}

<div class="row">
    <div class="col-md-4">
        @{
            Html.RenderPartial("_QUnitTestContents");
        }
    </div>
    <div class="col-md-8">
        <h2>@ViewBag.Title</h2>

        <div id="qunit-fixture">test markup</div>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" href="~/Content/qunit-1.20.0.css">
    <script src="~/Scripts/app/qunit-1.20.0.js"></script>
    <script>
		(function () {
			function createCallback(logType) {
				QUnit[logType](function () {
					console.log(logType, arguments);
				});
			}

			var logs = ["begin", "testStart", "testDone", "log", "moduleStart", "moduleDone", "done"];
			for (var i = 0; i < logs.length; i++) {
				createCallback(logs[i]);
			}
		}());
    </script>
}