<div class="row">
    <div class="col-md-3" ng-show="sideBarShown">
        <div ng-include="'/appViews/GeneralMenu.html'"></div>
    </div>
    <div ng-class="{'col-md-9': sideBarShown, 'col-md-12': !sideBarShown}">
        <div ng-view></div>
    </div>
</div>

@section Scripts{
    <link rel="stylesheet" href="~/Content/qunit-1.20.0.css">
    <script src="~/Scripts/app/qunit-1.20.0.js"></script>
    <script src="~/Areas/TestPage/Scripts/qunit/route.js"></script>
    <script src="~/Areas/TestPage/Scripts/qunit/qunit.index.js"></script>
    <script src="~/Areas/TestPage/Scripts/qunit/qunit.main.js"></script>
    <script src="~/Areas/TestPage/Scripts/qunit/legacy.markup.js"></script>
}