
@{
    ViewBag.Title = "QUnit Logs Test Suite";
}

<div class="row">
    <div class="col-md-4">
        @{
            Html.RenderPartial("_QUnitTestContents");
        }
    </div>
    <div class="col-md-8">
        <h2>@ViewBag.Title</h2>

        <div id="qunit"></div>
        <div id="qunit-fixture">test markup</div>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" href="~/Content/qunit-1.20.0.css">
    <script>
        QUnit.config.reorder = false;
    </script>
    <script src="~/Scripts/app/qunit-1.20.0.js"></script>
    <script src="~/Areas/TestPage/Scripts/logs.js"></script>
}

