<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body">
    <input type="checkbox" ng-checked="indoorConsidered" ng-model="indoorConsidered">考虑室内小区
    <table class="table table-striped">
        <thead>
            <tr>
                <th>小区名称</th>
                <th>方位角</th>
                <th>天线挂高</th>
                <th>室内外</th>
                <th>与中心小区距离（公里）</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="neighbor in pciNeighbors | orderBy: distanceOrder">
                <td>{{neighbor.eNodebName}}-{{neighbor.sectorId}}</td>
                <td>{{neighbor.azimuth}}</td>
                <td>{{neighbor.height}}</td>
                <td>{{neighbor.indoor}}</td>
                <td>{{neighbor.distance | number: 2}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">自动匹配最近小区</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

