<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <label>开始日期：</label>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="beginDate.value"
                       is-open="beginDate.opened" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="beginDate.opened = true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <label>结束日期：</label>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="endDate.value"
                       is-open="endDate.opened" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="endDate.opened = true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                    <button type="button" class="btn btn-success" ng-click="showData()">
                        <i class="glyphicon glyphicon-search" title="统计数据"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>邻小区名称</th>
            <th>邻小区PCI</th>
            <th>模3干扰数</th>
            <th>模6干扰数</th>
            <th>6dB干扰数</th>
            <th>10dB干扰数</th>
            <th>总干扰水平</th>
            <th>为系统邻区</th>
        </tr>
        </thead>
        <tbody ng-controller="rutrace.interference.neighbors">
        <tr ng-repeat="cell in interferenceCells | orderBy: orderPolicy.selected: true">
            <td>{{cell.neighborCellName}}</td>
            <td>{{cell.destPci}}</td>
            <td>{{cell.mod3Interferences | number:1}}</td>
            <td>{{cell.mod6Interferences | number:1}}</td>
            <td>{{cell.overInterferences6Db | number:1}}</td>
            <td>{{cell.overInterferences10Db | number:1}}</td>
            <td>{{cell.interferenceLevel | number:2}}</td>
            <td>{{cell.isMongoNeighbor?'是':'否'}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">生成调整建议</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

