<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 100px">项目</th>
        <th>
            信息
        </th>
        <th style="width: 100px">项目</th>
        <th>
            信息
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>工单类型</td>
        <td>{{currentView.workItemType}}</td>
        <td>工单子类型</td>
        <td>{{currentView.workItemSubType}}</td>
    </tr>
    <tr>
        <td>基站编号</td>
        <td>
            {{currentView.eNodebId}}({{currentView.eNodebName}}）
        </td>
        <td>扇区编号</td>
        <td>
            {{currentView.sectorId}}
        </td>
    </tr>
    <tr>
        <td>区域信息</td>
        <td>
            {{currentView.city}}
            {{currentView.district}}
            {{currentView.town}}
        </td>
        <td>派单时间</td>
        <td>{{currentView.beginTime}}</td>
    </tr>
    <tr>
        <td>回单期限</td>
        <td>{{currentView.deadline}}</td>
        <td>重复信息</td>
        <td>
            重复派单次数：{{currentView.repeatTimes}}
            ；驳回次数：{{currentView.repeatTimes}}
        </td>
    </tr>
    <tr>
        <td>责任人</td>
        <td>{{currentView.staffName}}</td>
        <td>反馈时间</td>
        <td>{{currentView.feedbackTime}}</td>
    </tr>
    <tr>
        <td>完成时间</td>
        <td>{{currentView.finishTime}}</td>
        <td>定位原因</td>
        <td>{{currentView.workItemCause}}</td>
    </tr>
    <tr>
        <td>工单状态</td>
        <td>
            {{currentView.workItemState}}
        </td>
        <td>
            <a ng-href="{{rootPath}}import/{{currentView.eNodebId}}/{{currentView.sectorId}}/{{currentView.eNodebName}}"
               class="btn btn-primary"s>
                导入干扰信息
            </a>
        </td>
    </tr>
    </tbody>
</table>
<div uib-tabset active="active">
    <div uib-tab index="0" heading="平台和反馈信息">
        <div ng-include="'/appViews/Rutrace/WorkItem/PlatformAndFeedbackInfo.html'"></div>
    </div>
    <div uib-tab index="1" heading="指标变化趋势">
        <div ng-include="'/appViews/Rutrace/WorkItem/CellTrend.html'"></div>
    </div>
    <div uib-tab index="2" heading="工单处理">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>项目</th>
                <th>分析结论</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>干扰源分析</td>
                <td>{{interferenceSourceComments}}</td>
                <td>
                    <button class="btn btn-default" ng-click="analyzeInterferenceSource()">分析</button>
                    <div class="btn-group" uib-dropdown>
                        <button id="single-button" type="button" class="btn btn-default"
                                uib-dropdown-toggle ng-disabled="disabled">
                            图表<span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem">
                                <a class="btn btn-warning" href="" ng-click="showSourceDbChart()">
                                    <i class="glyphicon glyphicon-fullscreen" title="干扰信息"></i>
                                    基本信息
                                </a>
                            </li>
                            <li role="menuitem">
                                <a class="btn btn-success" href="" ng-click="showSourceModChart()">
                                    <i class="glyphicon glyphicon-tree-conifer" title="覆盖信息"></i>
                                    MOD3、6干扰
                                </a>
                            </li>
                            <li role="menuitem">
                                <a class="btn btn-default" href="" ng-click="showSourceStrengthChart()">
                                    <i class="glyphicon glyphicon-globe"></i>
                                    干扰强度
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
                <tr>
                    <td>干扰基站分析</td>
                    <td>{{interferenceVictimComments}}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-default" ng-click="analyzeInterferenceVictim()">分析</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>覆盖分析</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

