<div class="alert alert-success" ng-if="updateNeighborCounts">
    更新邻区信息{{updateNeighborCounts}}条
</div>
<div panel-info panel-title="interferencePanelTitle">
    <div class="btn-group">
        <a ng-repeat="routeInfo in routeInfos" href="{{routeInfo.url}}"
           class="btn" ng-class="{ 'btn-primary': routeInfo.topic===currentTopic, 'btn-default': routeInfo.topic!==currentTopic}"
           ng-click="refreshTopic(routeInfo.topic)">
            {{routeInfo.displayName}}
        </a>
    </div>
    <div ng-view></div>
</div>