<div uib-alert ng-repeat="message in updateMessages" type="success" dismiss-on-timeout="2000" close="closeAlert($index)">
    {{message.cellName}}更新干扰小区信息{{message.counts}}条
</div>
<div panel-info panel-title="interferencePanelTitle">
    <div class="btn-group">
        <a ng-repeat="routeInfo in routeInfos" href="{{routeInfo.url}}"
           class="btn" ng-class="{ 'btn-primary': routeInfo.topic===currentTopic, 'btn-default': routeInfo.topic!==currentTopic}"
           ng-click="refreshTopic(routeInfo.topic)">
            {{routeInfo.displayName}}
        </a>
    </div>
    <div ng-view></div>
</div>