<div dialog>
    <p>
        <input type="checkbox" ng-checked="indoorConsidered" ng-model="indoorConsidered">考虑室内小区
        <button class="btn btn-warning" ng-click="matchNearest()">自动匹配最近小区</button>
    </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>小区名称</th>
            <th>方位角</th>
            <th>天线挂高</th>
            <th>室内外</th>
            <th>与中心小区距离（公里）</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="neighbor in pciNeighbors | orderBy: distanceOrder">
            <td>{{neighbor.eNodebName}}-{{neighbor.sectorId}}</td>
            <td>{{neighbor.azimuth}}</td>
            <td>{{neighbor.height}}</td>
            <td>{{neighbor.indoor}}</td>
            <td>{{neighbor.distance | number: 2}}</td>
        </tr>
        </tbody>
    </table>
</div>

