<div class="panel panel-warning" ng-controller="rutrace.menu">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>{{pageTitle}}</strong>
        </h2>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills">
            <li ng-repeat="menuItem in menuItems" ng-class="{active: pageTitle == menuItem.name}">
                <a ng-if="!menuItem.items.length" ng-href="{{menuItem.url}}">{{menuItem.displayName}}</a>
                <a ng-if="menuItem.items.length" href="" data-toggle="dropdown">{{menuItem.displayName}}</a>
                <ul ng-if="menuItem.items.length" class="dropdown-menu">
                    <li ng-repeat="menuSubItem in menuItem.items">
                        <a ng-href="{{menuSubItem.url}}">{{menuSubItem.displayName}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
