<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>精确覆盖率功能</strong>
        </h2>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a class="list-group-item" ng-repeat="menuItem in menuItems" ng-class="{active: page.title == menuItem.displayName}"
               ng-href="{{menuItem.url}}">
                {{menuItem.displayName}}
            </a>
        </div>
    </div>
</div>
