@section SPAViews
{
    <div ng-app="myApp" ng-controller="rutrace.import">
        @{
            Html.RenderPartial("_RutraceMenu");
        }
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            TOP指标查询
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{beginDate.title}}</label>
                            <div datetimepicker ng-model="beginDate.value"></div>
                        </div><br />
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{endDate.title}}</label>
                            <div datetimepicker ng-model="endDate.value"></div>
                            <button class="btn btn-primary" ng-click="query()">查询</button>
                        </div>
                        @{
                            Html.RenderPartial("_TopPreciseTable");
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                @{
                    Html.RenderPartial("_NeighborCellTable");
                }
            </div>
        </div>
    </div>

}

@section Scripts
{
    <script src="~/Scripts/angular.js"></script>
    <link href="~/Content/themes/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <script src="~/Scripts/angular-ui/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/angular-ui/local/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/app/app.datamodel.js"></script>
    <script>
        var app = angular.module('myApp', []);
    </script>
    <script src="~/Scripts/rutrace/import.controller.js"></script>
    <script src="~/Scripts/rutrace/menu.controller.js"></script>
    <script src="~/Scripts/angular-ui/customize/directive.datetimepicker.js"></script>
}

