@section SPAViews
{
    <div ng-app="myApp" ng-controller="rutrace.import">
        @{
            Html.RenderPartial("_RutraceMenu");
        }
    </div>
}

@section Scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script>
        var app = angular.module('myApp', []);
    </script>
    <script src="~/Scripts/rutrace/import.controller.js"></script>
    <script src="~/Scripts/rutrace/menu.controller.js"></script>
}

