@section SPAViews
{
    <div ng-app="myApp" ng-controller="rutrace.import">
        @{
            Html.RenderPartial("_RutraceMenu");
        }
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        TOP指标查询
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="dtp_input2" class="col-md-5 control-label">Date Picking</label>
                        <div class="input-group date form_date col-md-7" data-date="" data-date-format="yyyy-mm-dd" 
                             data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="16" type="text" value="2016-01-20" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input2" value="" /><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
}

@section Scripts
{
    <script src="~/Scripts/angular.js"></script>
    <link href="~/Content/themes/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <script src="~/Scripts/angular-ui/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/angular-ui/local/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>
        var app = angular.module('myApp', []);
        $('.form_date').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    </script>
    <script src="~/Scripts/rutrace/import.controller.js"></script>
    <script src="~/Scripts/rutrace/menu.controller.js"></script>
}

