@section SPAViews
{
    <div ng-model="myApp" ng-class="importController">
        @{
            Html.RenderPartial("_RutraceMenu");
        }
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/angularJS")
    <script>
        (function() {
            var app = angular.module('myApp', []);
        })();
    </script>
}

