@section SPAViews
{
    <div ng-app="myApp" ng-controller="rutrace.import">
        @{
            Html.RenderPartial("_RutraceMenu");
        }
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <h3 class="panel-title">
                    TOP指标查询
                </h3>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
}

@section Scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script>
        var app = angular.module('myApp', []);
    </script>
    <script src="~/Scripts/rutrace/import.controller.js"></script>
    <script src="~/Scripts/rutrace/menu.controller.js"></script>
}

