@{
    ViewBag.Title = "精确覆盖率";
}
<div class="row" ng-controller="rutrace.root">
    <div class="col-md-3" ng-show="sideBarShown">
        <div ng-include="'/appViews/GeneralMenu.html'"></div>
    </div>
    <div ng-class="{'col-md-9': sideBarShown, 'col-md-12': !sideBarShown}">
        <h3 class="text-center text-primary"><strong>{{page.title}}</strong></h3>
        <div ng-view></div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=LlMnTd7NcCWI1ibhDAdKeVlG"></script>
    <script src="~/Scripts/baidu/plugins/baidu.tangram.js"></script>
    <script src="~/Scripts/baidu/plugins/InfoBox.js"></script>
    <script src="~/Scripts/kpi/workitem/service.js"></script>
    <script src="~/Scripts/rutrace/menu.controller.js"></script>
    <script src="~/Scripts/rutrace/root.controller.js"></script>
    <script src="~/Scripts/rutrace/index.controller.js"></script>
    <script src="~/Scripts/rutrace/trend.controller.js"></script>
    <script src="~/Scripts/rutrace/topcells.controller.js"></script>
    <script src="~/Scripts/rutrace/top.district.controller.js"></script>
    <script src="~/Scripts/rutrace/import.controller.js"></script>
    <script src="~/Scripts/rutrace/precise.chart.controller.js"></script>
    <script src="~/Scripts/rutrace/trend.chart.controller.js"></script>
    <script src="~/Scripts/rutrace/interference/controller.js"></script>
    <script src="~/Scripts/rutrace/interference/neighbors.controller.js"></script>
    <script src="~/Scripts/rutrace/map.controller.js"></script>
    <script src="~/Scripts/rutrace/map.neighbor.dialog.js"></script>
    <script src="~/Scripts/rutrace/map.precise.dialog.js"></script>
    <script src="~/Scripts/rutrace/workitem/workitems.controller.js"></script>
    <script src="~/Scripts/rutrace/workitem/workitem.details.js"></script>
    <script src="~/Scripts/rutrace/workitem/workitem.list..js"></script>
    <script src="~/Scripts/rutrace/interference/mongo.controller.js"></script>
    <script src="~/Scripts/rutrace/cell.trend.js"></script>
    <script src="~/Scripts/rutrace/dump/cell.mongo.js"></script>
    <script src="~/Scripts/kpi/workitem/feedback.dialog.js"></script>
    <script src="~/Scripts/kpi/workitem/details.dialog.js"></script>
    <script src="~/Scripts/rutrace/interference/source.dialog.js"></script>
    <script src="~/Scripts/rutrace/interference/source.db.chart.js"></script>
    <script src="~/Scripts/rutrace/interference/source.mod.chart.js"></script>
    <script src="~/Scripts/rutrace/interference/source.strength.chart.js"></script>
}