<div id="college-info-box" style="display: none">
    <div class="infoBoxContent">
        <div class="title">
            <strong>校园基本信息: </strong>
        </div>
        <div class="list">
            <ul>
                <li>
                    <div class="left">校园名称:</div>
                    <div class="rmb" id="college-name"></div>
                </li>
                <li>
                    <div class="left">用户数:</div>
                    <div class="rmb" id="college-subscribers"></div>
                </li>
                <li>
                    <div class="left">区域面积（平方米）: </div>
                    <div class="rmb" id="college-area"></div>
                </li>
                <li>
                    <div class="left">LTE基站数: </div>
                    <div class="rmb" id="college-lte-enodebs"></div>
                </li>
                <li>
                    <div class="left">LTE小区数:</div>
                    <div class="rmb" id="college-lte-cells"></div>
                </li>
                <li>
                    <div class="left">CDMA基站数:</div>
                    <div class="rmb" id="college-cdma-btss"></div>
                </li>
                <li>
                    <div class="left">CDMA小区数:</div>
                    <div class="rmb" id="college-cdma-cells"></div>
                </li>
                <li>
                    <div class="left">LTE室内分布数: </div>
                    <div class="rmb" id="college-lte-distributions"></div>
                </li>
                <li>
                    <div class="left">CDMA室内分布数: </div>
                    <div class="rmb" id="college-cdma-distributions"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
