<!-- ko with: collegeCoverage -->
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#queryInfo">
                        信息查询
                    </a>
                </h4>
            </div>
            <div id="queryInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">开始日期：</label>
                        <div class="col-md-9">
                            <input id="BeginDate" class="form-control" data-bind="value: beginDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">结束日期：</label>
                        <div class="col-md-9">
                            <input id="EndDate" class="form-control" data-bind="value: endDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">校园名称：</label>
                        <div class="col-md-9">
                            <select class="form-control" data-bind="options: colleges, value: selectedCollege"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">网络类型：</label>
                        <div class="col-md-6">
                            <select class="form-control" data-bind="value: networkType, options: networkList"></select>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary" data-bind="click: showDataFile">查询文件</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{
            Html.RenderPartial("_CollegeMenu");
        }
    </div>
    <div class="col-md-8">
        @{
            Html.RenderPartial("_CoverageMap");
        }
    </div>
</div>
<!-- /ko -->