<!-- ko with: infrastructure -->
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#queryInfo">
                        信息查询
                    </a>
                </h4>
            </div>
            <div id="queryInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    待开发
                </div>
            </div>
        </div>
        @{
            Html.RenderPartial("_CollegeMenu");
        }
    </div>
    <div class="col-md-8">
        @{
            Html.RenderPartial("_CollegeStatTable");
        }
        <div data-bind="visible: setView() == 'eNodebs'">
            <h4><span data-bind="text: currentName"></span>4G基站信息</h4>
            <p>
                告警查询日期
                &nbsp;
                开始日期：
                <input id="BeginDate" data-bind="value: beginDate" />
                结束日期：
                <input id="EndDate" data-bind="value: endDate"/>
                <button class="btn btn-primary" data-bind="click: refreshAlarms">刷新告警统计</button>
            </p>
            @{
                Html.RenderPartial("_ENodebTable");
            }
        </div>
        <div data-bind="visible: setView() == 'cells'">
            <h4><span data-bind="text: currentName"></span>4G小区信息</h4>
            @{
                Html.RenderPartial("_LteCellTable");
            }
        </div>
        <div data-bind="visible: setView() == 'btss'">
            <h4><span data-bind="text: currentName"></span>3G基站信息</h4>
            @{
                Html.RenderPartial("_BtsTable");
            }
        </div>
        <div data-bind="visible: setView() == 'cdmaCells'">
            <h4><span data-bind="text: currentName"></span>3G小区信息</h4>
            @{
                Html.RenderPartial("_CdmaCellTable");
            }
        </div>
        <div data-bind="visible: setView() == 'lteDistributions'">
            <h4><span data-bind="text: currentName"></span>4G室内分布</h4>
            @{
                Html.RenderPartial("_DistributionTable");
            }
        </div>
        <div data-bind="visible: setView() == 'cdmaDistributions'">
            <h4><span data-bind="text: currentName"></span>3G室内分布</h4>
            @{
                Html.RenderPartial("_DistributionTable");
            }
        </div>
        <p><button data-bind="click: gobackList, visible: setView()!='list'" class="btn btn-success">返回列表</button></p>
    </div>
</div>
<!-- /ko -->

