<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <p>
            日期：
            <input id="date" data-bind="value: date"/>
            时段：
            <select data-bind="options: hourSelection, value: hour"></select>
            <button class="btn btn-primary" data-bind="click: createTest3G">新建或保存3G记录</button>
            <button class="btn btn-primary" data-bind="click: createTest4G">新建或保存4G记录</button>
        </p>
        <p>
            校园名称：
            <select data-bind="options: colleges, value: selectedCollege"></select>
            4G基站名称：
            <select data-bind="options: eNodebs, value: selectedENodeb"></select>
            扇区编号：
            <select data-bind="options: sectorSelection, value: sectorId"></select>
        </p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#show-list" data-toggle="tab">测试信息列表</a></li>
            <li><a href="#import-info" data-toggle="tab">输出邮件信息</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div id="show-list" class="tab-pane fade in active">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4>3G测试记录</h4>
                    </div>
                </div>
                @{
                    Html.RenderPartial("_College3GTest");
                }
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4>4G测试记录</h4>
                    </div>
                </div>
                @{
                    Html.RenderPartial("_College4GTest");
                }
            </div>
            <div id="import-info" class="tab-pane fade">
                <h5>
                    2015年校园秋季营销支撑保障-4小时公告-<span data-bind="text: date"></span>-
                    <span data-bind="text: hour"></span>
                </h5>
                <p>3G网络三重测试指标：</p>
                <div data-bind="foreach: test3G">
                    <p>
                        <span data-bind="text: collegeName"></span>：
                        平均下载速率<span data-bind="text: downloadRate + 'kBps'"></span>KB、
                        接入用户数<span data-bind="text: accessUsers"></span>个、
                        RSSI<span data-bind="text: minRssi"></span>dBm 至
                        <span data-bind="text: maxRssi"></span>dBm、
                        驻波比<span data-bind="text: vswr"></span>；
                    </p>
                </div>
                <br/>
                <br/>
                <p>4G网络三重测试指标：</p>
                <div data-bind="foreach: test4G">
                    <p>
                        <span data-bind="text: collegeName"></span>：
                        下载速率<span data-bind="text: downloadRate"></span>kBps、
                        上传速率<span data-bind="text: uploadRate"></span>kBps、
                        接入<span data-bind="text: cellName"></span>扇区
                        （PCI：<span data-bind="text: pci"></span>）、
                        扇区接入用户数<span data-bind="text: accessUsers"></span>个、
                        RSRP值<span data-bind="text: rsrp"></span>dBm、
                        SINR值<span data-bind="text: sinr"></span>、高清视频流畅；
                    </p>
                </div>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("_Edit3GTest");
        Html.RenderPartial("_Edit4GTest");
    }
</div>
