@{
    ViewBag.Title = "校园网一览图";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            
        </div>
    </div>
</div>

@section SPAViews{
    @{
        Html.RenderPartial("_Map");
    }
    <div id="college-rates"></div>
    <div id="college-users"></div>
    <div id="college-coverage"></div>
    <div id="college-interference"></div>
    <div id="college-alarms"></div>
    <div id="college-flows"></div>
    <div id="college-connection"></div>
    <div id="college-drop"></div>
}

@section Scripts{
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=OeWDTDlnolWHBNP1GSkDph34"></script>
    <link rel="stylesheet" href="~/Content/themes/baidu/InfoWindow.css" />
    @Styles.Render("~/Content/themes/cloudmap/css")
    @Scripts.Render("~/bundles/highcharts")
}

