@{
    ViewBag.Title = "校园网专题";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div ui-view="menu"></div>
                <div ui-view="collegeList"></div>
            </div>
            <div class="col-md-8">
                <div ui-view="contents"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=OeWDTDlnolWHBNP1GSkDph34"></script>
    <script src="~/Scripts/college/route.controller.js"></script>
    <script src="~/Scripts/college/menu.root.js"></script>
    <script src="~/Scripts/college/college.menu.js"></script>
    <script src="~/Scripts/college/all.map.js"></script>
    <script src="~/Scripts/college/map.name.js"></script>
    <script src="~/Scripts/college/map/college.dialog.js"></script>
    <script src="~/Scripts/college/query/all.js"></script>
    <script src="~/Scripts/college/query/eNodeb.dialog.js"></script>
    <script src="~/Scripts/college/query/cell.dialog.js"></script>
    <script src="~/Scripts/college/query/bts.dialog.js"></script>
    <script src="~/Scripts/college/query/cdmaCell.dialog.js"></script>
}

