<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">编辑CDMA小区信息</h4>
</div>
<div class="modal-body form-horizontal" data-bind="with: editCdmaCell">
    <div class="form-group">
        <label class="col-sm-3 control-label">基站编号</label>
        <div class="col-sm-3">
            <span class="form-control">{{item.btsId}}</span>
        </div>
        <label class="col-sm-3 control-label">频点</label>
        <div class="col-sm-3">
            <span class="form-control">{{item.frequency}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">扇区编号</label>
        <div class="col-sm-3">
            <span class="form-control">{{item.sectorId}}</span>
        </div>
        <label class="col-sm-3 control-label">载扇类型</label>
        <div class="col-sm-3">
            <span class="form-control">{{item.cellType}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">室内小区</label>
        <div class="col-sm-3">
            <span class="form-control">{{item.isIndoor}}</span>
        </div>
        <label class="col-sm-3 control-label">天线挂高</label>
        <div class="col-sm-3">
            <span class="form-control">{{item.height}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">经度</label>
        <div class="col-sm-3">
            <span class="form-control">{{item.longtitute}}</span>
        </div>
        <label class="col-sm-3 control-label">纬度</label>
        <div class="col-sm-3">
            <span class="form-control">{{item.lattitute}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">PN</label>
        <div class="col-sm-3">
            <span class="form-control">{{item.pn}}</span>
        </div>
        <label class="col-sm-3 control-label">LAC</label>
        <div class="col-sm-3">
            <span class="form-control">{{item.lac}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">方位角</label>
        <div class="col-sm-3">
            <input class="form-control" ng-model="item.azimuth"/>
        </div>
        <label class="col-sm-3 control-label">天线增益</label>
        <div class="col-sm-3">
            <input class="form-control" ng-model="item.antennaGain"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">机械下倾</label>
        <div class="col-sm-3">
            <input class="form-control" ng-model="item.mTilt" />
        </div>
        <label class="col-sm-3 control-label">电下倾角</label>
        <div class="col-sm-3">
            <input class="form-control" ng-model="item.eTilt" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">保存信息</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">放弃保存</button>
</div>
