<p>
    <button class="btn btn-primary" ng-click="postAll()" ng-disabled="!canDump">一键导入</button>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>项目</th>
            <th>新增</th>
            <th>消亡</th>
            <th>批量导入</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>LTE基站</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" ng-href="{{rootPath}}eNodebLonLat">检查经纬度</a>
                    <a class="btn btn-default" ng-href="{{rootPath}}eNodebInfos">
                        <i class="glyphicon glyphicon-edit" title="详细信息"></i>
                        <span class="badge">{{importData.newENodebs.length}}</span>
                    </a>
                    <button class="btn btn-warning" ng-disabled="importData.newENodebs.length===0" ng-click="postAllENodebs()">
                        <i class="glyphicon glyphicon-save" title="批量导入"></i>
                    </button>
                </div>
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" ng-href="{{rootPath}}vanishedENodebInfos">
                        <i class="glyphicon glyphicon-edit" title="详细信息"></i>
                        <span class="badge">{{importData.vanishedENodebIds.length}}</span>
                    </a>
                    <button class="btn btn-warning" ng-disabled="importData.vanishedENodebIds.length===0"
                            ng-click="vanishENodebs()">
                        <i class="glyphicon glyphicon-save" title="导入"></i>
                    </button>
                </div>
            </td>
            <td><input type="checkbox" ng-model="newENodebsImport" /></td>
        </tr>
        <tr>
            <td>LTE小区</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" ng-href="{{rootPath}}cellLonLat">检查经纬度</a>
                    <a class="btn btn-default" ng-href="{{rootPath}}cellInfos">
                        <i class="glyphicon glyphicon-edit" title="详细信息"></i>
                        <span class="badge">{{importData.newCells.length}}</span>
                    </a>
                    <button class="btn btn-warning" ng-disabled="importData.newCells.length===0" ng-click="postAllCells()">
                        <i class="glyphicon glyphicon-save" title="批量导入"></i>
                    </button>
                </div>
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" ng-href="{{rootPath}}vanishedCellInfos">
                        <i class="glyphicon glyphicon-edit" title="详细信息"></i>
                        <span class="badge">{{importData.vanishedCellIds.length}}</span>
                    </a>
                    <button class="btn btn-warning" ng-disabled="importData.vanishedCellIds.length===0"
                            ng-click="vanishCells()">
                        <i class="glyphicon glyphicon-save" title="导入"></i>
                    </button>
                </div>
            </td>
            <td><input type="checkbox" ng-model="newCellsImport" /></td>
        </tr>
        <tr>
            <td>CDMA基站</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="checkBtssLonLat()">检查经纬度</button>
                    <a class="btn btn-default" ng-href="{{rootPath}}btsInfos">
                        <i class="glyphicon glyphicon-edit" title="详细信息"></i>
                        <span class="badge">{{importData.newBtss.length}}</span>
                    </a>
                    <button class="btn btn-warning" ng-disabled="importData.newBtss.length===0">
                        <i class="glyphicon glyphicon-save" title="批量导入"></i>
                    </button>
                </div>
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" ng-href="{{rootPath}}vanishedBtsInfos">
                        <i class="glyphicon glyphicon-edit" title="详细信息"></i>
                        <span class="badge">{{importData.vanishedBtsIds.length}}</span>
                    </a>
                    <button class="btn btn-warning" ng-disabled="importData.vanishedBtsIds.length===0"
                            ng-click="vanishBtss()">
                        <i class="glyphicon glyphicon-save" title="导入"></i>
                    </button>
                </div>
            </td>
            <td><input type="checkbox" ng-model="newBtssImport" /></td>
        </tr>
        <tr>
            <td>CDMA小区</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="checkCdmaCellsLonLat()">检查经纬度</button>
                    <a class="btn btn-default" ng-href="{{rootPath}}cdmaCellInfos">
                        <i class="glyphicon glyphicon-edit" title="详细信息"></i>
                        <span class="badge">{{importData.newCdmaCells.length}}</span>
                    </a>
                    <button class="btn btn-warning" ng-disabled="importData.newCdmaCells.length===0">
                        <i class="glyphicon glyphicon-save" title="批量导入"></i>
                    </button>
                </div>
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" ng-href="{{rootPath}}vanishedCdmaCellInfos">
                        <i class="glyphicon glyphicon-edit" title="详细信息"></i>
                        <span class="badge">{{importData.vanishedCdmaCellIds.length}}</span>
                    </a>
                    <button class="btn btn-warning" ng-disabled="importData.vanishedCdmaCellIds.length===0"
                            ng-click="vanishCdmaCells()">
                        <i class="glyphicon glyphicon-save" title="导入"></i>
                    </button>
                </div>
            </td>
            <td><input type="checkbox" ng-model="newCdmaCellsImport" /></td>
        </tr>
    </tbody>
</table>