<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            工参读取结果及操作平台
        </h3>
    </div>
    <div class="panel-body">
        <p>
            <button class="btn btn-primary">一键导入</button>
        </p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>项目</th>
                <th>新增数量</th>
                <th>查看调整</th>
                <th>导入选择</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>LTE基站</td>
                <td data-bind="text: newENodebs.length"></td>
                <td></td>
                <td><input type="checkbox" data-bind="checked: newENodebsImport"/></td>
            </tr>
            <tr>
                <td>LTE小区</td>
                <td data-bind="text: newCells.length"></td>
                <td></td>
                <td><input type="checkbox" data-bind="checked: newCellsImport"/></td>
            </tr>
            <tr>
                <td>CDMA基站</td>
                <td data-bind="text: newBtss.length"></td>
                <td></td>
                <td><input type="checkbox" data-bind="checked: newBtssImport"/></td>
            </tr>
            <tr>
                <td>CDMA小区</td>
                <td data-bind="text: newCdmaCells.length"></td>
                <td></td>
                <td><input type="checkbox" data-bind="checked: newCdmaCellsImport"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

