<div id="bts-info-box" style="display: none">
    <div class="infoBoxContent">
        <div class="title">
            <strong>基站基本信息: </strong>
        </div>
        <div class="list">
            <ul>
                <li>
                    <div class="left">基站编号</div>
                    <div class="rmb" id="bts-id"></div>
                </li>
                <li>
                    <div class="left">基站名称</div>
                    <div class="rmb" id="bts-name"></div>
                </li>
                <li>
                    <div class="left">经度</div>
                    <div class="rmb" id="bts-longtitute"></div>
                </li>
                <li>
                    <div class="left">纬度</div>
                    <div class="rmb" id="bts-lattitute"></div>
                </li>
                <li>
                    <div class="left">BSC</div>
                    <div class="rmb" id="bts-bscid"></div>
                </li>
                <li>
                    <p id="bts-address"></p>
                </li>
            </ul>
        </div>
    </div>
</div>
