<div id="enodeb-info-box" style="display: none">
    <div class="infoBoxContent">
        <div class="title">
            <strong>基站基本信息: </strong>
        </div>
        <div class="list">
            <ul>
                <li>
                    <div class="left">基站编号</div>
                    <div class="rmb" id="enodeb-id"></div>
                </li>
                <li>
                    <div class="left">基站名称</div>
                    <div class="rmb" id="enodeb-name"></div>
                </li>
                <li>
                    <div class="left">规划编号</div>
                    <div class="rmb" id="enodeb-planid"></div>
                </li>
                <li>
                    <div class="left">入网日期</div>
                    <div class="rmb" id="enodeb-opendate"></div>
                </li>
                <li>
                    <div class="left">经度</div>
                    <div class="rmb" id="enodeb-longtitute"></div>
                </li>
                <li>
                    <div class="left">纬度</div>
                    <div class="rmb" id="enodeb-lattitute"></div>
                </li>
                <li>
                    <div class="left">厂家</div>
                    <div class="rmb" id="enodeb-factory"></div>
                </li>
                <li>
                    <p id="enodeb-address"></p>
                </li>
            </ul>
        </div>
    </div>
</div>
