<ul class="nav nav-pills">
    <li>@Html.ActionLink("小区统计", "List")</li>
    <li>@Html.ActionLink("工参导入", "BasicImport")</li>
    <li>@Html.ActionLink("告警导入", "AlarmImport")</li>
    <li>@Html.ActionLink("邻区导入", "NeighborImport")</li>
</ul>
