<div class="cloudmap-wrapper">
    <div class="cloudmap-tools">

    </div>
    <div class="cloudmap-baiduwrapper">
        <div id="mapContent"></div>
        <div class="map-w">
            <ul id="colorBar">
                <li class="map-w-1"></li>
                <li class="map-w-i"></li>
            </ul>
        </div>
        <div id="time-control">
            <div id="time-control-btns"></div>
        </div>
    </div>
</div>

