
@{
    ViewBag.Title = "基础数据模块";
}

<div class="row">
    <div class="col-md-3" ng-show="sideBarShown">
        <div ui-view="menu"></div>
    </div>
    <div ng-class="{'col-md-9': sideBarShown, 'col-md-12': !sideBarShown}">
        <div ui-view="contents"></div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=OeWDTDlnolWHBNP1GSkDph34"></script>
    <script src="~/Scripts/parameters/route.controller.js"></script>
    <script src="~/Scripts/parameters/list.controller.js"></script>
    <script src="~/Scripts/parameters/menu.root.js"></script>
    <script src="~/Scripts/parameters/query.map.js"></script>
    <script src="~/Scripts/parameters/map/eNodeb.dialog.js"></script>
    <script src="~/Scripts/rutrace/map.neighbor.dialog.js"></script>
    <script src="~/Scripts/parameters/map/bts.dialog.js"></script>
    <script src="~/Scripts/parameters/details/menu.town.js"></script>
    <script src="~/Scripts/parameters/details/bts.list.js"></script>
    <script src="~/Scripts/parameters/details/eNodeb.list.js"></script>
    <script src="~/Scripts/parameters/details/menu.lte.js"></script>
    <script src="~/Scripts/parameters/details/eNodeb.info.js"></script>
    <script src="~/Scripts/parameters/details/cell.info.js"></script>
    <script src="~/Scripts/parameters/details/menu.cdma.js"></script>
    <script src="~/Scripts/parameters/details/bts.info.js"></script>
    <script src="~/Scripts/parameters/details/cdmaCell.info.js"></script>
    <script src="~/Scripts/parameters/map/cdma.cell.dialog.js"></script>
    <script src="~/Scripts/parameters/details/eNodeb.alarm.js"></script>
}
