
@{
    ViewBag.Title = "全网基站小区统计";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <p>
        @{
            Html.RenderPartial("_ParametersMenu");
        }
    </p>
</div>

@section SPAViews{
    @{
        Html.RenderPartial("_List");
    }
}

@section Scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/highcharts/highstock.src.js"></script>
    <script src="~/Scripts/highcharts/highcharts-ng.js"></script>
    <script>
        var app = angular.module('myApp', ["highcharts-ng"]);
    </script>
    <script src="~/Scripts/parameters/list.viewmodel.js"></script>
}
