
@{
    ViewBag.Title = "基础数据模块";
}

<div class="panel panel-warning" ng-app="myApp">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div ui-view="menu"></div>
            </div>
            <div class="col-md-9">
                <div ui-view="contents"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <link href="~/Content/themes/map/all.css" rel="stylesheet"/>
    <link href="~/Content/themes/baidu/InfoWindow.css" rel="stylesheet"/>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    @Scripts.Render("~/bundles/highcharts")
    <script src="~/Scripts/highcharts/highcharts-ng.js"></script>
    <script src="~/Scripts/mycharts/gradientPie.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=OeWDTDlnolWHBNP1GSkDph34"></script>
    @Scripts.Render("~/bundles/ui-bootstraps")
    <script src="~/Scripts/service/app.url.service.js"></script>
    <script src="~/Scripts/service/app.region.service.js"></script>
    <script src="~/Scripts/service/app.parameters.service.js"></script>
    <script src="~/Scripts/service/parameters.map.service.js"></script>
    <script src="~/Scripts/service/parameters.chart.js"></script>
    <script>
        var app = angular.module('myApp', ["highcharts-ng", 'ui.router', "ui.bootstrap", 'myApp.url',
            'myApp.region', 'myApp.parameters', 'parametersMap', 'parameters.chart']);
    </script>
    <script src="~/Scripts/parameters/route.controller.js"></script>
    <script src="~/Scripts/parameters/list.controller.js"></script>
    <script src="~/Scripts/parameters/menu.root.js"></script>
    <script src="~/Scripts/parameters/query.map.js"></script>
    <script src="~/Scripts/parameters/map/eNodeb.dialog.js"></script>
    <script src="~/Scripts/rutrace/map.neighbor.dialog.js"></script>
    <script src="~/Scripts/parameters/map/bts.dialog.js"></script>
    <script src="~/Scripts/parameters/details/menu.town.js"></script>
    <script src="~/Scripts/parameters/details/bts.list.js"></script>
    <script src="~/Scripts/parameters/details/eNodeb.list.js"></script>
    <script src="~/Scripts/parameters/details/menu.lte.js"></script>
    <script src="~/Scripts/parameters/details/eNodeb.info.js"></script>
}
