
@{
    ViewBag.Title = "基础数据模块";
}

<div class="panel panel-warning" ng-app="myApp">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div ui-view="menu"></div>
            </div>
            <div class="col-md-8">
                <div ui-view="contents"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/highcharts/highcharts.src.js"></script>
    <script src="~/Scripts/highcharts/highcharts-ng.js"></script>
    <script>
        var app = angular.module('myApp', ["highcharts-ng", 'ui.router']);
    </script>
    <script src="~/Scripts/parameters/route.controller.js"></script>
    <script src="~/Scripts/parameters/list.controller.js"></script>
    <script src="~/Scripts/parameters/menu.root.js"></script>
}
