
@{
    ViewBag.Title = "全网基站小区地图";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <p>
        @{
            Html.RenderPartial("_ParametersMenu");
            Html.RenderPartial("_ENodebMapInfoBox");
        }
    </p>
</div>

@section SPAViews{
    @{
        Html.RenderPartial("_QueryMap");
    }
}

@section Scripts{
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=OeWDTDlnolWHBNP1GSkDph34"></script>
    <link rel="stylesheet" href="~/Content/themes/baidu/InfoWindow.css" />
    @Styles.Render("~/Content/themes/cloudmap/css")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/parametersQueryMap")
}
