<div class="panel-group" id="accordion">
    <div ng-repeat="menuItem in menuItems" class="panel panel-default" ng-show="menuItem.subItems.length>0">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="" ng-click="menuItem.isActive=!menuItem.isActive">
                    <strong>{{menuItem.displayName}}</strong>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" ng-class="{'in': menuItem.isActive}">
            <div class="list-group">
                <div ng-class="{active: page.title == subItem.displayName}"
                     ng-hide="menu.accordions[subItem.masterName] === false"
                     class="list-group-item row" ng-repeat="subItem in menuItem.subItems">
                    <a ng-show="!subItem.tooltip" class="col-md-10" ng-href="{{subItem.url}}">
                        {{subItem.displayName}}
                    </a>
                    <a ng-show="subItem.tooltip" class="col-md-10" ng-href="{{subItem.url}}" 
                       uib-tooltip="{{subItem.tooltip}}" tooltip-class="customClass" tooltip-placement="bottom">
                        {{subItem.displayName}}
                    </a>
                    <div ng-show="menu.accordions[subItem.displayName] === true" class="col-md-2">
                        <i class="glyphicon glyphicon-chevron-down" 
                           ng-click="menu.accordions[subItem.displayName] = false"></i>
                    </div>
                    <div ng-show="menu.accordions[subItem.displayName] === false" class="col-md-2">
                        <i class="glyphicon glyphicon-chevron-up" 
                           ng-click="menu.accordions[subItem.displayName] = true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>