
.cloudmap-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid #b0b6be;
}

div#contentWrapper {
    overflow: hidden;
    position: relative;
    float: left;
}

.cloudmap-baiduwrapper {
    overflow: hidden;
    position: relative;
    border-left: 1px solid #b0b6be;
    text-align: left;
}

.cloudmap-tools {
    border-bottom: 1px solid #e6e7ea;
    width: 100%;
    height: 35px;
    background-color: #f9f9fb;
}

.cloudmap-select-city {
    height: 22px;
    line-height: 22px;
    padding-left: 15px;
}

.cloudmap-city-name {
    color: #333333;
    font-weight: 700;
    cursor: pointer;
}

    .cloudmap-city-name:hover {
        color: #3977d2;
    }

.cloudmap-search-city {
    padding: 0px 10px 20px;
    margin-bottom: 20px;
}

.cloudmap-search-b {
    background-image: url(../../images/Hotmap/map_u7.png);
    background-repeat: no-repeat;
    width: 49px;
    height: 24px;
    margin-left: 5px;
    margin-top: 8px;
    cursor: pointer;
}

    .cloudmap-search-b:hover {
        background-image: url(../../images/Hotmap/map_u8.png);
        background-repeat: no-repeat;
    }

.index-s {
    height: 35px;
    width: 250px;
    float: left;
}

.index-s-1 {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    width: 162px;
    height: 21px;
    margin-left: 10px;
    color: #a6a6a6;
    text-indent: 3px;
}

.index-s-2 {
    background-image: url(../../images/Hotmap/map_u2.png?111);
    background-repeat: no-repeat;
    width: 48px;
    height: 25px;
    margin-left: 5px;
    cursor: pointer;
}

    .index-s-2:hover {
        background-image: url(../../images/Hotmap/map_u3.png);
    }

.index-x {
    margin-left: 12px;
    margin-right: 12px;
    background-color: #ffffff;
    cursor: pointer;
}

    .index-x:hover {
        background-color: #fafafa;
    }

.index-x-1 {
    width: 197px;
    height: 87px;
    margin: 0 auto;
    padding-top: 18px;
}

.index-x-1-bg {
    background-color: #49a7da;
    width: 16px;
    height: 16px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    float: left;
}

.index-x-1-w {
    color: #3d6dcc;
    line-height: 16px;
    text-indent: 8px;
}

.index-x-bottom {
    color: #000000;
    font-size: 14px;
    padding-top: 10px;
    margin: 0 auto;
    width: 197px;
}

    .index-x-bottom ul {
        margin: 0px;
        padding: 0px;
    }

    .index-x-bottom li {
        list-style: none;
        float: left;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
        margin-left: 4px;
    }

.f-zt {
    font-weight: bold;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
}

.f-wz-a {
    color: #0000cc;
    background-color: #ffffff;
    border: 1px solid #e7ecf0;
    width: 20px;
    height: 20px;
}

    .f-wz-a:hover {
        background-color: #e8f1f6;
    }

.map-w {
    background-color: #ffffff;
    padding: 7px;
    left: auto;
    top: auto;
    right: 12px;
    bottom: 0px;
    position: absolute;
}

    .map-w ul {
        padding: 0px;
        margin: 0px;
    }

    .map-w li {
        list-style: none;
        float: left;
        margin-right: 1px;
    }

.map-w-1 {
    padding: 5px;
}

.map-w-2 {
    padding: 5px;
    background-color: #FF0000;
    color: #ffffff;
    border: 1px solid #FF0000;
    cursor: pointer;
}

.legend-item-wrapper {
    position: absolute;
    height: 45px;
    top: -39px;
    left: 22px;
}

.legend-item-tip {
    position: relative;
    border: 1px solid #ACB2BB;
    color: #333333;
    white-space: nowrap;
    padding: 6px 14px 6px 79px;
    width: 140px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-image: url(../../images/Hotmap/map_wfg.png);
    background-repeat: no-repeat;
    background-position: 14px 50%;
    text-indent: 60px;
}

.legend-item-tip-arrow {
    background-image: url(../../images/Hotmap/map_u9.png);
    background-repeat: no-repeat;
    width: 7px;
    height: 5px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 38px;
}

.map-w-3 {
    padding: 5px;
    background-color: #FF6600;
    color: #ffffff;
    border: 1px solid #FF6600;
    cursor: pointer;
}

.map-w-4 {
    padding: 5px;
    background-color: #FFF21F;
    color: #ffffff;
    border: 1px solid #FFF21F;
    cursor: pointer;
}

.map-w-5 {
    padding: 5px;
    background-color: #2DFF3B;
    color: #ffffff;
    border: 1px solid #2DFF3B;
    cursor: pointer;
}

.map-w-6 {
    padding: 5px;
    background-color: #7ED354;
    color: #ffffff;
    border: 1px solid #7ED354;
    cursor: pointer;
}

.map-w-7 {
    padding: 5px;
    background-color: #00B354;
    color: #ffffff;
    border: 1px solid #00B354;
    cursor: pointer;
}

.map-w-i {
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
}

.map-z {
    background-color: #ffffff;
    padding: 7px;
    left: auto;
    top: 10px;
    right: 10px;
    bottom: auto;
    position: absolute;
}

.map-z-1 {
    overflow: hidden;
}

.map-z-1-left {
    background-color: #ffffff;
    border: 1px solid #acb2bb;
    padding: 5px 10px;
    color: #000000;
    float: left;
    cursor: pointer;
    margin-right: 4px;
}

    .map-z-1-left:hover {
        background-color: #278df2;
        color: #ffffff;
    }

.map-z-2 {
    top: 32px;
    right: 0px;
    width: 295px;
    overflow: hidden;
    padding: 13px;
    margin-top: 15px;
    border: 1px solid #acb2bb;
    position: absolute;
    background-color: #ffffff;
}

.map-z-btn {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}

.map-z-btn-a {
    font-weight: normal;
    font-size: 12px;
}

.map-z-2-a {
    overflow: hidden;
}

.map-x-time {
    width: 252px;
    float: left;
}

.map-z-bar {
    width: 252px;
    height: 14px;
    background-image: url(../../images/Hotmap/map_u4.png);
    background-repeat: no-repeat;
    margin-top: 10px;
    position: relative;
}

.map-z-shu {
    top: -5px;
    width: 16px;
    height: 16px;
    background-image: url(../../images/Hotmap/map_u5.png);
    background-repeat: no-repeat;
    position: absolute;
}

.map-z-sz {
    left: -9px;
    width: 270px;
    margin-top: -3px;
    overflow: hidden;
    position: relative;
}

.map-z-sz-a {
    width: 12.5%;
    padding-top: 7px;
    text-align: center;
    float: left;
}

.map-icon {
    width: 33px;
    height: 33px;
    background-image: url(../../images/Hotmap/map_u6.png);
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
}

.map-cesuo {
    background-image: url(../../images/Hotmap/map_u10.png);
    background-repeat: no-repeat;
    width: 19px;
    height: 51px;
    margin-top: 35%;
    cursor: pointer;
}

    .map-cesuo:hover {
        background-image: url(../../images/Hotmap/map_u11.png);
        background-repeat: no-repeat;
    }

.rel_tc {
    background-image: url(../../images/Hotmap/re_tc.png);
    background-repeat: no-repeat;
    width: 422px;
    height: 135px;
    font-size: 12px;
}

.rel_top {
    height: 90px;
}

.rel_top_left {
    float: left;
}

    .rel_top_left ul {
        margin: 0px;
        padding-left: 12px;
        padding-top: 15px;
    }

    .rel_top_left li {
        list-style: none;
        margin-top: 8px;
        color: #2a93fe;
    }

.rel_xl {
    width: 130px;
    height: 24px;
    border: 1px solid #70b6fe;
}

.rel_wbn {
    width: 126px;
    height: 20px;
    border: 1px solid #70b6fe;
}

.rel_bottom {
    margin-left: 134px;
    margin-top: 2px;
}

.rel_bottom_qd {
    background-image: url(../../images/Hotmap/re_qd.png);
    background-repeat: no-repeat;
    width: 61px;
    height: 26px;
    cursor: pointer;
    float: left;
}

    .rel_bottom_qd:hover {
        background-image: url(../../images/Hotmap/re_qd_1.png);
    }

.rel_bottom_qx {
    background-image: url(../../images/Hotmap/re_qx.png);
    background-repeat: no-repeat;
    width: 61px;
    height: 26px;
    cursor: pointer;
    float: left;
    margin-left: 12px;
}

    .rel_bottom_qx:hover {
        background-image: url(../../images/Hotmap/re_qx_1.png);
    }

.rel_small {
    background-image: url(../../images/Hotmap/re_small_bg.png);
    background-repeat: no-repeat;
    width: 178px;
    height: 62px;
    font-size: 12px;
}

.rel_small_a {
    margin-top: 10px;
    float: left;
    margin-left: 15px;
}

.icon_lsn {
    background-image: url(../../images/Hotmap/icon_ls.png);
    background-repeat: no-repeat;
    width: 90px;
    height: 25px;
    cursor: pointer;
    float: left;
}

    .icon_lsn:hover {
        background-image: url(../../images/Hotmap/icon_ls_1.png);
    }

.icon_tcn {
    background-image: url(../../images/Hotmap/icon_tc.png);
    background-repeat: no-repeat;
    width: 90px;
    height: 25px;
    cursor: pointer;
    float: left;
}

    .icon_tcn:hover {
        background-image: url(../../images/Hotmap/icon_tc_1.png);
    }

.icon_jzd {
    background-image: url(../../images/Hotmap/icon_jzdd.png);
    background-repeat: no-repeat;
    width: 90px;
    height: 25px;
    cursor: pointer;
    float: left;
}

    .icon_jzd:hover {
        background-image: url(../../images/Hotmap/icon_jzdd_1.png);
    }

.icon_jzd2 {
    background-image: url(../../images/Hotmap/icon_jzdd_2.png?111);
    background-repeat: no-repeat;
    width: 90px;
    height: 25px;
    cursor: pointer;
    float: left;
}

.icon_qxd {
    background-image: url(../../images/Hotmap/icon_qxdd.png);
    background-repeat: no-repeat;
    width: 90px;
    height: 25px;
    cursor: pointer;
    float: left;
}

    .icon_qxd:hover {
        background-image: url(../../images/Hotmap/icon_qxdd_1.png);
    }

.icon_map {
    background-image: url(../../images/Hotmap/icon_ls.png);
    background-repeat: no-repeat;
    width: 90px;
    height: 25px;
    cursor: pointer;
    float: left;
}

.layer_show {
    position: absolute;
    left: 20%;
    top: 10%;
    background: #fff;
    border: 1px solid #a8c0ef;
    font-size: 12px;
    width: 300px;
}

    .layer_show > h3 {
        background: #a8c0ef;
        color: #174c81;
        line-height: 28px;
        margin: 0;
        padding: 0 12px;
        font-weight: normal;
        font-size: 12px;
    }

        .layer_show > h3 > a {
            cursor: pointer;
            color: #039;
            float: right;
        }

    .layer_show p {
        border: 5px solid #fff;
        background: url(../../images/Hotmap/site_bl.png) left no-repeat;
        line-height: 26px;
        padding: 2px 0 2px 28px;
        margin: 4px;
        cursor: default;
    }

        .layer_show p:hover {
            border: 5px solid #f4f4f4;
            background: url(../../images/Hotmap/site_or.png) left no-repeat #f4f4f4;
        }

        .layer_show p a {
            background: url(../../images/Hotmap/site_certen.png);
            display: none;
            cursor: pointer;
            float: right;
            width: 45px;
            height: 26px;
        }

        .layer_show p:hover a {
            display: block;
        }

.layer_mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    opacity: 0.5;
}


.scoll_div {
    max-height: 300px;
    overflow: auto;
}

.right-panel {
    position: absolute;
    z-index: 1001;
    bottom: auto;
    right: 10px;
    top: 10px;
    left: auto;
}

.icon_qp {
    background-image: url(../../Images/Hotmap/icon_qp.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 25px;
    cursor: pointer;
    float: left;
}

    .icon_qp:hover {
        background-image: url(../../Images/Hotmap/icon_qp_1.png);
    }

.icon_tcqp {
    background-image: url(../../Images/Hotmap/icon_tcqp.png);
    background-repeat: no-repeat;
    width: 90px;
    height: 25px;
    cursor: pointer;
    float: left;
}

    .icon_tcqp:hover {
        background-image: url(../../Images/Hotmap/icon_tcqp_1.png);
    }
