<div uib-tabset active="active">
    <div uib-tab index="0" heading="流量导入">
        <h4>华为流量</h4>
        <button class="btn btn-primary" ng-click="dumpHuaweiItems()" ng-disabled="huaweiInfo.totalDumpItems === 0">
            一键导入
        </button>
        <button class="btn btn-danger" ng-click="clearHuaweiItems()" ng-disabled="huaweiInfo.totalDumpItems === 0">
            清除导入
        </button>
    </div>
    <div uib-tab index="1" heading="邻区导入" ng-click="progressInfo = neighborInfo">
        <button class="btn btn-primary" ng-click="dumpNeighborItems()" ng-disabled="neighborInfo.totalDumpItems === 0">
            一键导入
        </button>
        <button class="btn btn-danger" ng-click="clearNeighborItems()" ng-disabled="neighborInfo.totalDumpItems === 0">
            清除导入
        </button>
    </div>
</div>
<div ng-include="'/appViews/Import/ImportProgress.html'"></div>
