<table class="table table-striped">
    <thead>
        <tr>
            <th>基站名称</th>
            <th>基站编号</th>
            <th>扇区编号</th>
            <th>小区类别</th>
            <th>频点列表</th>
            <th>小区编号</th>
            <th>LAC</th>
            <th>PN</th>
            <th>经度</th>
            <th>纬度</th>
            <th>高度</th>
            <th>下倾</th>
            <th>方位角</th>
            <th>天线增益</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: cdmaCellList">
        <tr>
            <td data-bind="text: btsName"></td>
            <td data-bind="text: btsId"></td>
            <td data-bind="text: sectorId"></td>
            <td data-bind="text: cellType"></td>
            <td data-bind="text: frequencyList"></td>
            <td data-bind="text: cellId"></td>
            <td data-bind="text: lac"></td>
            <td data-bind="text: pn"></td>
            <td data-bind="text: longtitute"></td>
            <td data-bind="text: lattitute"></td>
            <td data-bind="text: height"></td>
            <td data-bind="text: downTilt"></td>
            <td data-bind="text: azimuth"></td>
            <td data-bind="text: antennaGain"></td>
        </tr>
    </tbody>
</table>

