<span class="cloudmap-city-name" data-bind="visible: show4GResults()">
    4G路测指标
    <button class="time-control-btn" data-bind="click: showRsrp">RSRP</button>
    <button class="time-control-btn" data-bind="click: showSinr">SINR</button>
</span>

<span class="cloudmap-city-name" data-bind="visible: show3GResults()">
    3G路测指标
    <button class="time-control-btn" data-bind="click: showSinr3G">SINR</button>
    <button class="time-control-btn" data-bind="click: showRxAgc0">RxAGC0</button>
    <button class="time-control-btn" data-bind="click: showRxAgc1">RxAGC1</button>
</span>

<span class="cloudmap-city-name" data-bind="visible: show2GResults()">
    2G路测指标
    <button class="time-control-btn" data-bind="click: showEcio">Ec/Io</button>
    <button class="time-control-btn" data-bind="click: showRxAgc2G">RxAGC</button>
    <button class="time-control-btn" data-bind="click: showTxPower">TxPower</button>
</span>
