<div id="4G-coverage-selection" style="display: none">
    <span class="cloudmap-city-name">
        4G路测指标
        <button class="time-control-btn" data-bind="click: showRsrp">RSRP</button>
        <button class="time-control-btn" data-bind="click: showSinr">SINR</button>
    </span>
</div>

<div id="3G-coverage-selection" style="display: none">
    <span class="cloudmap-city-name">
        3G路测指标
        <button class="time-control-btn" data-bind="click: showSinr3G">SINR</button>
        <button class="time-control-btn" data-bind="click: showRxAgc0">RxAGC0</button>
        <button class="time-control-btn" data-bind="click: showRxAgc1">RxAGC1</button>
    </span>
</div>

<div id="2G-coverage-selection" style="display: none">
    <span class="cloudmap-city-name">
        2G路测指标
        <button class="time-control-btn" data-bind="click: showEcio">Ec/Io</button>
        <button class="time-control-btn" data-bind="click: showRxAgc2G">RxAGC</button>
        <button class="time-control-btn" data-bind="click: showTxPower">TxPower</button>
    </span>
</div>
