<table class="table table-striped">
    <thead>
        <tr style="font-weight: bold; background-color: #A8C3CB;">
            <th>LTE基站编号</th>
            <th>基站名称</th>
            <th>规划编号</th>
            <th>入网日期</th>
            <th>地址</th>
            <th>经度</th>
            <th>纬度</th>
            <th>告警数量</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: eNodebList">
        <tr>
            <td data-bind="text: eNodebId"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: planNum"></td>
            <td data-bind="text: openDateString"></td>
            <td data-bind="text: address"></td>
            <td data-bind="text: longtitute"></td>
            <td data-bind="text: lattitute"></td>
            <td>
                <button class="btn btn-warning" 
                        data-bind="click: function () { app.loadAlarms(eNodebId);}, visible: $data.alarmTimes>0"
                        title="这里表示最近一个月的告警数，点击可查看详细信息">
                    故障数
                    <span class="badge pull-right" data-bind="text: alarmTimes"></span>
                </button>
                <div class="label label-default" data-bind="visible: $data.alarmTimes==0">无告警</div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr><td><button data-bind="click: gobackList" class="btn btn-success">返回列表</button></td></tr>
    </tfoot>
</table>

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" data-bind="text: currentName"></h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tbody data-bind="foreach: alarms">
                        <tr>
                            <td data-bind="text: position"></td>
                            <td data-bind="text: alarmLevelDescription"></td>
                            <td data-bind="text: happenTimeString"></td>
                            <td data-bind="text: '历时' + duration.toFixed(2) + '分钟'"></td>
                            <td data-bind="text: alarmCategoryDescription"></td>
                            <td data-bind="text: alarmTypeDescription"></td>
                        </tr>
                        <tr>
                            <td colspan=6 data-bind="text: details"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
