<p>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" data-bind="enable: currentPage()>1, click: queryFirstPage">
            <span class="glyphicon glyphicon-step-backward"></span> 
        </button>
        <button type="button" class="btn btn-success" data-bind="enable: currentPage()>1, click: queryPrevPage">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
        <button class="btn btn-info" data-bind="click: query, enable: canGotoCurrentPage">
            转到
        </button>
        <button class="btn btn-default" disabled>
            第
        </button>
        <input type="text" class="form-control col-md-2" style="width: 10%" data-bind="value: currentPage" />
        <button class="btn btn-default" disabled>
            <span data-bind="text: '/' + totalPages() + '页'"></span>
        </button> 
        <button type="button" class="btn btn-success" data-bind="enable: currentPage()<totalPages(), click: queryNextPage">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <button type="button" class="btn btn-primary" data-bind="enable: currentPage()<totalPages(), click: queryLastPage">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>
    </div>
</p>
