<div class="row" ng-app="myApp" ng-controller="homeController">
    <div class="col-md-4" ng-repeat="menuItem in menuItems">
        <h4 class="text-warning">{{menuItem.title}}</h4>
        <p class="text-info">{{menuItem.comments}}</p>
        <p><a class="btn btn-primary" ng-href="{{menuItem.url}}">{{menuItem.buttonName}}</a></p>
    </div>


    <div class="col-md-4">
        <h4 class="text-info">当前账户信息</h4>
        <address>
            您的家乡是：{{currentUser.hometown}}，用户角色清单：{{currentUser.roleList}}
            <span ng-if="currentUser.roleList===''">（无角色）</span>
        </address>
    </div>
</div>
