<div ng-controller="homeController">
    <p class="text-success">
        在这里，我们提供<em>专题优化精品化</em>的功能，更多精彩内容请点击以下各个菜单项。
    </p>
    <div ng-include="'/appViews/Home.html'"></div>
</div>

@section Scripts{
    <script src="~/Scripts/app/home.viewmodel.js"></script>
}