<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    每日指标监控
                </h3>
            </div>
            <div class="panel-body">
                城市：
                <select data-bind="value: currentCity, options: cities"></select>
                日期：
                <input id="StatDate" data-bind="value: statDate"/>
                视图：
                <select data-bind="value: view, options: viewOptions"></select>
                <button type="button" class="btn btn-success" data-bind="click: showKpi">
                    <span class="glyphicon glyphicon-search"></span>
                    统计结果
                </button>
                @{
                    Html.RenderPartial("_CityKpiTable");
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    指标趋势查询
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    开始日期：
                    <input id="BeginDate" data-bind="value: beginDate" />
                    结束日期：
                    <input id="EndDate" data-bind="value: endDate" />
                </p>
                <p>
                    指标选择:
                    <select data-bind="value: kpiSelection, options: kpiOptions"></select>
                    <button type="button" class="btn btn-success" data-bind="click: showTrend">
                        <span class="glyphicon glyphicon-book"></span>
                        图表展示
                    </button>
                </p>                
                <div class="panel" data-bind="foreach: kpiOptions">
                    <div data-bind="visible: $data == $root.kpiSelection(), attr: { name: $data}" 
                         style="min-height: 300px" class="kpi-trend">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
