<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    城市：
                    <select data-bind="value: currentCity, options: cities"></select>
                    日期：
                    <input id="StatDate" data-bind="value: statDate"/>
                    视图：
                    <select data-bind="value: view, options: viewOptions"></select>
                    <button type="button" class="btn btn-success" data-bind="click: showKpi">
                        <span class="glyphicon glyphicon-search"></span>
                        显示图表
                    </button>
                </h3>
            </div>
            <div class="panel-body">
                @{
                    Html.RenderPartial("_CityKpiTable");
                }
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
