<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    每日指标监控
                </h3>
            </div>
            <div class="panel-body">
                城市：
                <select data-bind="value: currentCity, options: cities"></select>
                日期：
                <input id="StatDate" data-bind="value: statDate"/>
                视图：
                <select data-bind="value: view, options: viewOptions"></select>
                <button type="button" class="btn btn-success" data-bind="click: showKpi">
                    <span class="glyphicon glyphicon-search"></span>
                    统计结果
                </button>
                @{
                    Html.RenderPartial("_CityKpiTable");
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    指标趋势查询
                </h3>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon">
                        开始日期：
                    </span>
                    <input type="text" class="form-control" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        结束日期：
                    </span>
                    <input type="text" class="form-control" />
                </div>
                <p>
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-book"></span>
                        图表展示
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>
