<div class="col-md-6">
    <p>
        <a href="/Kpi/InterferenceImport#/"  class="btn btn-primary">从数据文件导入</a>
        <a href="/Kpi/InterferenceImport#/mongo" class="btn btn-primary">从MongoDB导入</a>
    </p>
    <div class="panel panel-info">
        <div ng-view></div>
    </div>
</div>
