<div class="col-md-6">
    @{
        Html.RenderPartial("_AlertPanel");
        using (Html.BeginForm("InterferencePost", "Kpi",
            FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            <div class="form-group">
                <label class="col-md-4 control-label">干扰矩阵数据导入：</label>
                <div class="col-md-6">
                    <input name="files" class="form-control" type="file" multiple accept=".txt" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>导入
                    </button>
                </div>
            </div>
        }
    }
    <div class="btn-group">
        <a href="/Kpi/InterferenceImport#/" class="btn btn-primary">从数据文件导入</a>
        <a href="/Kpi/InterferenceImport#/mongo" class="btn btn-primary">从MongoDB导入</a>
    </div>
    <p>
        <div class="form-group">
            <label class="col-md-3 control-label">{{beginDate.title}}</label>
            <div datetimepicker ng-model="beginDate.value" class="col-md-7"></div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{endDate.title}}</label>
            <div datetimepicker ng-model="endDate.value" class="col-md-7"></div>
        </div>
    </p>
</div>
<div class="col-md-6">
    <div ng-view></div>
</div>
