<div class="col-md-6">
    <div class="panel panel-info" data-bind="visible: initialize()!== true">
        <div class="panel-heading">
            <h3 class="panel-title">
                数据导入进度
            </h3>
        </div>
        <div class="panel-body">
            <p>
                <button class="btn btn-primary" ng-click="dumpItems()">一键导入</button>
                <button class="btn btn-info" ng-disabled="townPreciseViews.length === 0" ng-click="dumpTownItems()">导入镇区指标</button>
                <button class="btn btn-danger" ng-disabled="totalDumpItems.length === 0" ng-click="clearItems()">清除导入</button>
            </p>
            <div ng-include="'/appViews/Import/ImportProgress.html'"></div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div ng-include="'/appViews/Import/Precise/HistoryTable.html'"></div>
</div>
<div class="col-md-6">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                镇区精确覆盖率统计
            </h3>
        </div>
        <div class="panel-body">
            <div ng-include="'/appViews/Import/Precise/TownViewTable.html'"></div>
        </div>
    </div>
</div>
