<!-- ko with: preciseImport -->
<div class="col-md-6">
    <div class="panel panel-info" data-bind="visible: initialize()!== true">
        <div class="panel-heading">
            <h3 class="panel-title">
                数据导入进度
            </h3>
        </div>
        <div class="panel-body">
            <p>
                <button class="btn btn-primary" data-bind="click: dumpItems">一键导入</button>
                <button class="btn btn-info" data-bind="click: dumpTownItems">导入镇区指标</button>
            </p>
            <p>
                总数：<span data-bind="text: totalDumpItems"></span>&nbsp;
                成功数：<span data-bind="text: totalSuccessItems"></span>&nbsp;
                失败数：<span data-bind="text: totalFailItems"></span>
            </p>
            <div class="progress" data-bind="visible: totalDumpItems()>0">
                <div class="progress-bar" role="progressbar" aria-valuemax="100" aria-valuemin="0"
                     data-bind="style:{width: 100*(totalSuccessItems()+totalFailItems())/totalDumpItems()+'%'}"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    @{
        Html.RenderPartial("_PreciseHistoryTable");
    }
</div>
<div class="col-md-6">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                镇区精确覆盖率统计
            </h3>
        </div>
        <div class="panel-body">
            @{
                Html.RenderPartial("_TownPreciseViewTable");
            }
        </div>
    </div>
</div>
<!-- /ko -->
