<!-- ko with: preciseTrend -->
<div class="row">
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    精确覆盖率指标变化趋势
                </h3>
            </div>
            <div class="panel-body">
                城市：
                <select data-bind="value: currentCity, options: cities"></select>
                开始日期：
                <input id="BeginDate" data-bind="value: beginDate" />
                结束日期：
                <input id="EndDate" data-bind="value: endDate" />
                <button type="button" class="btn btn-success" data-bind="click: showTrend">
                    <span class="glyphicon glyphicon-book"></span>
                    查询
                </button>
                @{
                    Html.RenderPartial("_PreciseTrendTable");
                }
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span data-bind="text: beginDate"></span>
                    -
                    <span data-bind="text: endDate"></span>
                    各区测量报告数分布
                </h3>
            </div>
            <div class="panel-body">
                <div style="min-height: 400px" id="mr-pie"></div>
                <div style="min-height: 400px" id="mr-chart"></div>
                <div style="min-height: 400px" id="precise-chart"></div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
