<table class="table table-hover">
    <thead>
        <tr>
            <th>小区编号</th>
            <th>CDMA基站名称</th>
            <th>LTE基站名称</th>
            <th>扇区编号</th>
            <th>频点</th>
            <th>掉话次数</th>
            <th>掉话率</th>
            <th>查看信息</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: oneDayCells">
        
            <tr>
                <td data-bind="text: cdmaCellId"></td>
                <td data-bind="text: cdmaName"></td>
                <td data-bind="text: lteName"></td>
                <td data-bind="text: sectorId"></td>
                <td data-bind="text: frequency"></td>
                <td data-bind="text: drops"></td>
                <td data-bind="text: (dropRate * 100).toFixed(2)"></td>
                <td>
                    <button type="button" class="btn btn-primary btn-lg topdetails"
                            data-bind="click: function(){ showHistory($data); }">
                        <span class="glyphicon glyphicon-search"></span>历史信息
                    </button>
                </td>
            </tr>
    </tbody>
</table>

