<!-- ko with: topDrop2G -->
<div class="row">
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    每日TOP指标监控
                </h3>
            </div>
            <div class="panel-body">
                城市：
                <select data-bind="value: currentCity, options: cities"></select>
                日期：
                <input id="StatDate" data-bind="value: statDate"/>
                <button type="button" class="btn btn-success" data-bind="click: showKpi">
                    <span class="glyphicon glyphicon-search"></span>
                    统计结果
                </button>
                @{
                    Html.RenderPartial("_TopDrop2GTable");
                }
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    指标趋势查询
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">开始日期：</label>
                        <div class="col-md-6">
                            <input id="BeginDate" class="form-control" data-bind="value: beginDate"/>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" data-bind="click: trendTable">统计</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">结束日期：</label>
                        <div class="col-md-6">
                            <input id="EndDate" class="form-control" data-bind="value: endDate"/>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" data-bind="click: trendChart">图表</button>
                        </div>
                    </div>
                </div>
                @{
                    Html.RenderPartial("_TopDrop2GTrendTable");
                }
            </div>
        </div>
    </div>
</div>
<!-- /ko -->


