<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title text-primary">工单网元信息</h4>
        </div>
        <div class="modal-body">
            <table class="table table-hover">
                <tbody data-bind="visible: $root.workItemList().detailsView()==='eNodeb', with: $root.workItemList().eNodebDetails">
                <tr>
                    <td>基站名称</td>
                    <td data-bind="text: name"></td>
                    <td>厂家</td>
                    <td data-bind="text: factory"></td>
                    <td>规划编码</td>
                    <td data-bind="text: planNum"></td>
                </tr>
                <tr>
                    <td>基站地址</td>
                    <td colspan="3" data-bind="text: address"></td>
                    <td>开通日期</td>
                    <td data-bind="text: openDate"></td>
                </tr>
                </tbody>
                <tbody data-bind="visible: $root.workItemList().detailsView()==='bts', with: $root.workItemList().btsDetails">
                <tr>
                    <td>基站地址</td>
                    <td colspan="3" data-bind="text: address"></td>
                    <td>基站名称</td>
                    <td data-bind="text: name"></td>
                </tr>
                </tbody>
                <tbody data-bind="visible: $root.workItemList().detailsView()==='lteCell'"></tbody>
                <tbody data-bind="visible: $root.workItemList().detailsView()==='cdmaCell'"></tbody>
            </table>
        </div>
    </div>
</div>
