<table class="table table-hover">
    <thead>
    <tr>
        <th>区域</th>
        <th>编号</th>
        <th>类型</th>
        <th>状态</th>
        <th>时限</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody ng-repeat="view in workItemViews">
    <tr>
        <td>{{view.district}}</td>
        <td>{{view.serialNumber}}</td>
        <td>{{view.workItemType}}</td>
        <td>{{view.workItemState}}</td>
        <td>{{view.deadline}}</td>
        <td>
            <div class="btn-group-xs">
                <button class="btn btn-xs btn-primary" ng-click="showDetails(view)">详细</button>
                <button class="btn btn-xs btn-info">反馈</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>