<div dialog>
    <div workitem-enodeb ng-if="detailsView==='eNodeb'"></div>
    <div workitem-bts ng-if="detailsView==='bts'"></div>
    <div workitem-cell ng-if="detailsView==='lteCell'"></div>
    <div workitem-cdma ng-if="detailsView==='cdmaCell'"></div>
</div>
