<table class="table table-hover">
    <thead>
    <tr>
        <th>区域</th>
        <th>编号</th>
        <th>类型</th>
        <th>状态</th>
        <th>时限</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: workItemViews">
    <tr>
        <td data-bind="text: district"></td>
        <td data-bind="text: serialNumber"></td>
        <td data-bind="text: workItemType"></td>
        <td data-bind="text: workItemState"></td>
        <td data-bind="text: deadline"></td>
        <td>
            <div class="btn-group-xs">
                <button class="btn btn-xs btn-primary" 
                        data-bind="click: function(){$root.workItemList().showDetails($data);}">详细</button>
                <button class="btn btn-xs btn-info">反馈</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>