<div ng-app="myApp" ng-controller="kpi.workitem">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        工单监控
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        工单状态：
                        <select ng-model="currentState" ng-options="state.name for state in states"></select>&nbsp;
                        工单分类：
                        <select ng-model="currentType" ng-options="type.name for type in types"></select>&nbsp;
                        <div class="btn-group">
                            <button class="btn btn-success" ng-click="showCharts()">图表</button>
                            <button class="btn btn-warning" ng-click="updateSectorIds()">
                                更新扇区编号
                                <span class="badge pull-right" ng-if="updateNums">{{updateNums}}</span>
                            </button>
                        </div>
                    </p>
                    @{
                        Html.RenderPartial("_KnockoutPaging");
                        Html.RenderPartial("_WorkItemTable");
                    }
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-info" ng-if="chartView=='details'">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        工单编号{{serialNumber}}信息
                    </h3>
                </div>
                <div class="panel-body" ng-controller="kpi.workitem.details">
                    @{
                        Html.RenderPartial("_WorkItemDetailsTable");
                        Html.RenderPartial("_WorkItemInfrastructureDialog");
                    }
                </div>
            </div>
            <div class="panel panel-info" ng-if="chartView=='chart'">
                <div class="panel-heading">
                    <div class="panel-title">
                        工单统计图表
                    </div>
                </div>
                <div class="panel-body">
                    <div id="type-chart" style="min-height: 400px"></div>
                    <div id="state-chart" style="min-height: 400px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
