<!-- ko with: workItemList -->
<div class="row">
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    工单监控
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    工单状态：
                    <select data-bind="value: currentState, options: states"></select>&nbsp;
                    工单分类：
                    <select data-bind="value: currentType, options: types"></select>&nbsp;
                    <button class="btn btn-primary" data-bind="click: query">统计</button>
                    <button class="btn btn-success">图表</button>
                </p>
                @{
                    Html.RenderPartial("_KnockoutPaging");
                    Html.RenderPartial("_WorkItemTable");
                }
            </div>
        </div>
    </div>
    <div class="col-md-5"></div>
</div>
<!-- /ko -->