@{
    ViewBag.Title = "指标文件导入";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <p>
        @{
            Html.RenderPartial("_KpiMenu");
        }
    </p>
</div>

@section SPAViews{
}

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
}