@{
    ViewBag.Title = "指标文件导入";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <p>
        @{
            Html.RenderPartial("_KpiMenu");
        }
    </p>
</div>

<div class="row">
    <div class="col-md-8">
       @using (Html.BeginForm("KpiImport", "Kpi",
                FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
       {
           <h4>指标文件选择</h4>
           <div class="form-group">
               <label class="col-md-4 control-label">每日KPI Excel文件选择：</label>
               <div class="col-md-6">
                   <input name="dailyKpi" class="form-control" type="text" accept=".xls, .xlsx"/>
               </div>
           </div>
           <div class="form-group">
               <label class="col-md-4 control-label">每日KPI Excel文件选择：</label>
               <div class="col-md-6">
                   <input name="alarmZte" class="form-control" type="text" accept=".csv"/>
               </div>
           </div>
           <div class="form-group">
               <label class="col-md-4 control-label">华为4G告警导入：</label>
               <div class="col-md-6">
                   <input name="alarmHw" class="form-control" type="text" accept=".csv"/>
               </div>
           </div>
           <div class="form-group">
               <div class="col-md-offset-2 col-md-10">
                   <button type="submit" class="btn btn-primary">
                       <span class="glyphicon glyphicon-save"></span>导入文件
                   </button>
               </div>
           </div>
       }
</div>
    <div class="col-md-4">
        @section SPAViews{
        }
    </div>
</div>



@section Scripts{
    @Scripts.Render("~/bundles/knockout")
}