@{
    ViewBag.Title = "指标文件导入";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <p>
        @{
            Html.RenderPartial("_KpiMenu");
        }
    </p>
</div>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("KpiImport", "Kpi",
                FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <fieldset>
                <legend>指标文件选择</legend>
                <ol>
                    <li>
                        每日KPI Excel文件选择：
                        <input type="file" name="dailyKpi" accept=".xls, .xlsx" />
                    </li>
                    <li>
                        中兴4G告警导入：
                        <input type="file" name="alarmZte" accept=".csv" />
                    </li>
                    <li>
                        华为4G告警导入：
                        <input type="file" name="alarmHw" accept=".csv" />
                    </li>
                </ol>
            </fieldset>

            <p>
                <button type="submit" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-save"></span>导入文件
                </button>
            </p>
        }
    </div>
    <div class="col-md-4">
        @section SPAViews{
        }
    </div>
</div>



@section Scripts{
    @Scripts.Render("~/bundles/knockout")
}