@{
    ViewBag.Title = "全网基本指标";
}


<div class="row">
    <div class="col-md-3" ng-show="sideBarShown">
        <div ng-include="'/appViews/GeneralMenu.html'"></div>
    </div>
    <div ng-class="{'col-md-9': sideBarShown, 'col-md-12': !sideBarShown}">
        <div uib-alert ng-repeat="message in page.messages" type="{{message.type}}"
             dismiss-on-timeout="5000" close="closeAlert($index)">
            {{message.contents}}
        </div>
        <div ng-view></div>
    </div>
</div>



@section Scripts{
    <script src="~/Scripts/kpi/basic/route.controller.js"></script>
    <script src="~/Scripts/kpi/basic/index.controller.js"></script>
    <script src="~/Scripts/kpi/basic/trend.controller.js"></script>
    <script src="~/Scripts/kpi/basic/top.drop2G.js"></script>
    <script src="~/Scripts/kpi/basic/top.drop2G.trend.js"></script>
    <script src="~/Scripts/kpi/basic/top.connection3G.js"></script>
    <script src="~/Scripts/kpi/basic/top.connection3G.trend.js"></script>
}
