@{
    ViewBag.Title = "干扰矩阵数据导入";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <p>
        @{
            Html.RenderPartial("_KpiMenu");
        }
    </p>
</div>

<div class="row" ng-app="myApp" ng-controller="interference.root">
    @{
        Html.RenderPartial("_InterferenceImport");
    }
</div>

@section Scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <link href="~/Content/themes/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular-ui/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/angular-ui/local/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/app/app.datamodel.js"></script>
    <script>
        var app = angular.module('myApp', ['ngRoute', 'myApp.Services']);
    </script>
    <script src="~/Scripts/angular-ui/customize/directive.datetimepicker.js"></script>
    <script src="~/Scripts/angular-ui/customize/dump.progress.factory.js"></script>
    <script src="~/Scripts/angular-ui/customize/directive.panel.js"></script>
    <script src="~/Scripts/kpi/interferenceimport.viewmodel.js"></script>
    <script src="~/Scripts/kpi/interference.import.controller.js"></script>
    <script src="~/Scripts/kpi/interference.mongo.controller.js"></script>
}
