@{
    ViewBag.Title = "全天TOP连接指标";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <div class="panel-body"></div>
</div>

@section SPAViews{
}

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
}