@{
    ViewBag.Title = "网优平台工单监控";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <p>
        @{
            Html.RenderPartial("_KpiMenu");
        }
    </p>
</div>

@section SPAViews{
    @{
        Html.RenderPartial("_WorkItemList");
    }
}

@section Scripts{
    @Scripts.Render("~/bundles/highcharts")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/mycharts/drilldown.chart.js"></script>
    <script src="~/Scripts/mycharts/drilldownPie.js"></script>
    <script src="~/Scripts/app/app.datamodel.js"></script>
    <script src="~/Scripts/kpi/workitem.controller.js"></script>
    <script>
        var app = angular.module('myApp', []);
    </script>
    <script src="~/Scripts/kpi/workitem.viewmodel.js"></script>
}