<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>网优平台工单监控</strong>
        </h2>
    </div>
    @{
        Html.RenderPartial("_KpiMenu");
    }
</div>

<div ng-app="myApp" class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item" ng-repeat="menuItem in menuItems" 
               ng-class="{active: page.title == menuItem.displayName}"
               ng-href="{{menuItem.url}}">
                {{menuItem.displayName}}
            </a>
        </div>
    </div>
    <div class="col-md-8">
        <div uib-alert ng-repeat="message in page.messages" type="{{message.type}}"
             dismiss-on-timeout="5000" close="closeAlert($index)">
            {{message.contents}}
        </div>
        <div ng-view></div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    @Scripts.Render("~/bundles/ui-bootstraps")
    @Scripts.Render("~/bundles/highcharts")
    <script src="~/Scripts/highcharts/highcharts-ng.js"></script>
    <script src="~/Scripts/mycharts/drilldown.chart.js"></script>
    <script src="~/Scripts/mycharts/drilldownPie.js"></script>
    <script src="~/Scripts/service/app.url.service.js"></script>
    <script src="~/Scripts/service/workitem.service.js"></script>
    <script src="~/Scripts/service/app.parameters.service.js"></script>
    <script>
        var app = angular.module('myApp', [
            'ngRoute',
            "highcharts-ng",
            "ui.bootstrap",
            'kpi.workitem',
            'myApp.parameters'
        ]);
    </script>
    <script src="~/Scripts/kpi/workitem/service.js"></script>
    <script src="~/Scripts/kpi/workitem/route.controller.js"></script>
    <script src="~/Scripts/kpi/workitem/index.controller.js"></script>
    <script src="~/Scripts/kpi/workitem/details.controller.js"></script>
    <script src="~/Scripts/kpi/workitem/chart.controller.js"></script>
    <script src="~/Scripts/kpi/workitem/eNodeb.js"></script>
    <script src="~/Scripts/kpi/workitem/bts.js"></script>
    <script src="~/Scripts/kpi/workitem/cell.js"></script>
}