<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>网优平台工单监控</strong>
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class="list-group">
                    <a class="list-group-item" ng-repeat="menuItem in menuItems"
                       ng-class="{active: page.title == menuItem.displayName}"
                       ng-href="{{menuItem.url}}">
                        {{menuItem.displayName}}
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div uib-alert ng-repeat="message in page.messages" type="{{message.type}}"
                     dismiss-on-timeout="5000" close="closeAlert($index)">
                    {{message.contents}}
                </div>
                <div ng-view></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/kpi/workitem/service.js"></script>
    <script src="~/Scripts/kpi/workitem/route.controller.js"></script>
    <script src="~/Scripts/kpi/workitem/index.controller.js"></script>
    <script src="~/Scripts/kpi/workitem/details.controller.js"></script>
    <script src="~/Scripts/kpi/workitem/chart.controller.js"></script>
    <script src="~/Scripts/kpi/workitem/eNodeb.js"></script>
    <script src="~/Scripts/kpi/workitem/bts.js"></script>
    <script src="~/Scripts/kpi/workitem/cell.js"></script>
    <script src="~/Scripts/kpi/workitem/cdmaCell.js"></script>
}