<table class="table table-hover">
    <thead>
        <tr>
            <td>校园</td>
            <td>下载速率</td>
            <td>接入用户数</td>
            <td>RSSI</td>
            <td>驻波比</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="test in test3G">
            <td>{{test.collegeName}}</td>
            <td>{{test.downloadRate}}kBps</td>
            <td>{{test.accessUsers}}</td>
            <td>{{test.minRssi}}~{{test.maxRssi}}dBm</td>
            <td>{{test.vswr}}</td>
            <td>
                <button class="btn btn-danger" 
                        ng-click="deleteTest3G(test)">
                    删除
                </button>
            </td>
        </tr>
    </tbody>
</table>