<div class="panel panel-default" ng-controller="angular.menu">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#kpiTests">
                AngularJS测试
            </a>
        </h4>
    </div>
    <div id="kpiTests" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="list-group">
                <a class="list-group-item" ng-repeat="menuItem in menuItems" ng-class="{active: pageTitle == menuItem.name}"
                   ng-href="{{menuItem.url}}">
                    {{menuItem.displayName}}
                </a>
            </div>
        </div>
    </div>
</div>
