<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#exampleTests">
                    QUnit官网案例测试
                </a>
            </h4>
        </div>
        <div id="exampleTests" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="list-group">

                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collegeTests">
                    校园网脚本测试
                </a>
            </h4>
        </div>
        <div id="collegeTests" class="panel-collapse collapse in">
            <div class="panel-body">
                留空待租
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#kpiTests">
                    KPI脚本测试
                </a>
            </h4>
        </div>
        <div id="kpiTests" class="panel-collapse collapse">
            <div class="panel-body">
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#parametersTest">
                    工参脚本测试
                </a>
            </h4>
        </div>
        <div id="parametersTest" class="panel-collapse collapse">
            <div class="panel-body">
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo.
            </div>
        </div>
    </div>
</div>
