<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#exampleTests">
                    
                </a>
            </h4>
        </div>
        <div id="exampleTests" class="panel-collapse collapse in">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#parametersTest">
                    
                </a>
            </h4>
        </div>
        <div id="parametersTest" class="panel-collapse collapse">
            <div class="list-group">
                @Html.ActionLink("", "", "", null, new { @class = "list-group-item" })
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#webapiTest">
                    
                </a>
            </h4>
        </div>
        <div id="webapiTest" class="panel-collapse collapse">
            <div class="list-group">
                @Html.ActionLink("", "", "WebApiTest", null, new { @class = "list-group-item" })
                @Html.ActionLink("", "", "WebApiTest", null, new { @class = "list-group-item" })
                @Html.ActionLink("", "", "WebApiTest", null, new { @class = "list-group-item" })
            </div>
        </div>
    </div>
</div>
