<table class="table table-hover">
    <thead>
        <tr>
            <th>小区编号</th>
            <th>扇区编号</th>
            <th>邻区小区编号</th>
            <th>邻区小区名称</th>
            <th>PCI</th>
            <th>切换次数</th>
            <th>是否监控</th>
            <th>导入情况</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="neighbor in neighborCells">
            <td>{{neighbor.cellId}}</td>
            <td>{{neighbor.sectorId}}</td>
            <td>{{neighbor.nearestCellId}}</td>
            <td>{{neighbor.nearestENodebName}}-{{neighbor.nearestSectorId}}</td>
            <td>{{neighbor.pci}}</td>
            <td>{{neighbor.totalTimes}}</td>
            <td>
                <span ng-if="neighbor.isMonitored">已监控</span>
                <span ng-if="!neighbor.isMonitored" style="color: red">未监控</span>
            </td>
            <td>
                <button class="btn btn-default" ng-click="dumpMongo(neighbor)">导入数据</button>
            </td>
        </tr>
    </tbody>
</table>