<table class="table table-hover">
    <thead>
        <tr>
            <th>区域</th>
            <th>工单编号</th>
            <th>基站名称</th>
            <th>类型</th>
            <th>子类型</th>
            <th style="min-width: 50px">状态</th>
            <th>时限</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody ng-repeat="view in viewItems">
        <tr>
            <td>{{view.district}}</td>
            <td style="max-width: 150px">{{view.serialNumber}}</td>
            <td>{{view.eNodebName}}</td>
            <td>{{view.workItemType}}</td>
            <td>{{view.workItemSubType}}</td>
            <td>{{view.workItemState}}</td>
            <td>{{view.deadline}}</td>
            <td>
                <div class="btn-group-xs">
                    <a class="btn btn-xs btn-primary" ng-if="view.detailsPath" ng-href="{{view.detailsPath}}">详细分析</a>
                    <button class="btn btn-xs btn-default" ng-click="showDetails(view)">详情</button>
                    <button class="btn btn-xs btn-info" ng-click="feedback(view)">反馈</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
