@model LtePlatform.Models.IndexViewModel
@{
    ViewBag.Title = "账号权限管理";
}

<h2>@ViewBag.Title。</h2>
<div class="row" ng-app="myApp" ng-controller="manage.root">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
        <div ng-view></div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/app/app.datamodel.js"></script>
    <script>
        var app = angular.module('myApp', ['ngRoute']);
    </script>
    <script src="~/Scripts/manage/index.viewmodel.js"></script>
    <script src="~/Scripts/manage/manage.all.js"></script>
    <script src="~/Scripts/manage/manage.roles.js"></script>
    <script src="~/Scripts/manage/manage.role.user.js"></script>
    <script src="~/Scripts/angular-ui/customize/directive.panel.js"></script>
}

