
<div class="row" ng-app="myApp">
    <div class="col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <strong>账号权限管理功能</strong>
                </h2>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a class="list-group-item" ng-repeat="menuItem in menuItems" ng-class="{active: page.title == menuItem.displayName}"
                       ng-href="{{menuItem.url}}">
                        {{menuItem.displayName}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div uib-alert ng-repeat="message in page.messages" type="{{message.type}}" 
             dismiss-on-timeout="5000" close="closeAlert($index)">
            {{message.contents}}
        </div>
        <div ng-view></div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    @Scripts.Render("~/bundles/ui-bootstraps")
    <script src="~/Scripts/service/app.url.service.js"></script>
    <script src="~/Scripts/service/app.authorize.service.js"></script>
    <script>
        var app = angular.module('myApp', ['ngRoute', "ui.bootstrap", 'myApp.authorize']);
    </script>
    <script src="~/Scripts/manage/index.viewmodel.js"></script>
    <script src="~/Scripts/manage/manage.current.js"></script>
    <script src="~/Scripts/manage/manage.all.js"></script>
    <script src="~/Scripts/manage/manage.roles.js"></script>
    <script src="~/Scripts/manage/manage.role.user.js"></script>
    <script src="~/Scripts/manage/phoneNumber.signup.js"></script>
    <script src="~/Scripts/angular-ui/customize/directive.panel.js"></script>
    <script src="~/Scripts/manage/password.change.js"></script>
}

