<div uib-alert ng-repeat="message in updateMessages" type="success" dismiss-on-timeout="2000" close="closeAlert($index)">
    {{message.cellName}}共完成{{message.counts}}条邻区信息导入
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{topStat.current.eNodebName + "-" + topStat.current.sectorId}}小区邻区列表
        </h3>
    </div>
    <div class="panel-body">
        <p>
            <div class="btn-group" style="float: right">
                <button class="btn btn-primary" ng-if="neighborCells.length" ng-click="updatePci()">
                    更新PCI
                </button>
                <button class="btn btn-warning" ng-if="!topStat.current.isMonitored" ng-click="addMonitor()">
                    加入监控
                </button>
                <button class="btn btn-info" ng-if="neighborCells.length" ng-click="monitorNeighbors()">
                    监控邻区
                </button>
                <a class="btn btn-success" ng-href="{{rootPath}}top">返回TOP列表</a>
            </div>
        </p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>小区编号</th>
                <th>扇区编号</th>
                <th>邻区小区编号</th>
                <th>邻区小区名称</th>
                <th>PCI</th>
                <th>切换次数</th>
                <th>是否监控</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="neighbor in neighborCells">
                <td>{{neighbor.cellId}}</td>
                <td>{{neighbor.sectorId}}</td>
                <td>{{neighbor.nearestCellId}}</td>
                <td>{{neighbor.nearestENodebName}}-{{neighbor.nearestSectorId}}</td>
                <td>{{neighbor.pci}}</td>
                <td>{{neighbor.totalTimes}}</td>
                <td>
                    <span ng-if="neighbor.isMonitored">已监控</span>
                    <span ng-if="!neighbor.isMonitored">未监控</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

