<div class="row">
    <div class="col-md-6">
        <label>城市：</label>
        <div class="input-group">
            <select class="form-control" ng-model="city.selected" ng-options="c as c for c in city.options"></select>
            <span class="input-group-btn">
                <button type="button" class="btn btn-success" ng-click="showKpi()">
                    <i class="glyphicon glyphicon-search" title="统计结果"></i>                    
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <label>日期：</label>
        <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="statDate.value" is-open="statDate.opened" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="statDate.opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
                <a class="btn btn-primary" ng-href="{{rootPath}}chart">
                    <i class="glyphicon glyphicon-picture" title="统计图表"></i> 
                </a>
            </span>
        </div>
    </div>
</div>

<h4 class="text-center text-primary">
    分区指标统计
</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>城市</th>
            <th>区</th>
            <th>MR总数</th>
            <th>精确覆盖率</th>
            <th>本区目标值</th>
            <th>第一邻区精确覆盖率</th>
            <th>第三邻区精确覆盖率</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="stat in overallStat.districtStats">
            <td>{{stat.city}}</td>
            <td>{{stat.district}}</td>
            <td>{{stat.totalMrs}}</td>
            <td ng-style="{color: stat.preciseRate < stat.objectRate ? 'red' : 'green'}">
                {{stat.preciseRate | number: 2}}
            </td>
            <td>{{stat.objectRate | number: 2}}</td>
            <td>{{stat.firstRate | number: 2}}</td>
            <td>{{stat.thirdRate | number: 2}}</td>
            <td>
                <div class="btn-group-sm">
                    <button class="btn btn-sm btn-primary" ng-click="overallStat.currentDistrict = stat.district">
                        详细
                    </button>
                    <a class="btn btn-sm btn-default" ng-href="{{rootPath}}topDistrict/{{stat.district}}">TOP指标</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>{{overallStat.cityStat.city}}</td>
            <td>{{overallStat.cityStat.district}}</td>
            <td>{{overallStat.cityStat.totalMrs}}</td>
            <td ng-style="{color: overallStat.preciseRate < overallStat.objectRate ? 'red' : 'green'}">
                {{overallStat.cityStat.preciseRate | number: 2}}
            </td>
            <td>{{overallStat.cityStat.objectRate | number: 2}}</td>
            <td>{{overallStat.cityStat.firstRate | number: 2}}</td>
            <td>{{overallStat.cityStat.thirdRate | number: 2}}</td>
            <td>
                <a class="btn btn-sm btn-default" ng-href="{{rootPath}}top">TOP指标</a>
            </td>
        </tr>
    </tbody>
</table>

<h4 class="text-primary text-center">
    {{overallStat.currentDistrict}}详细统计信息
</h4>

<table class="table table-hover">
    <thead>
        <tr>
            <th>镇区</th>
            <th>MR总数</th>
            <th>精确覆盖率</th>
            <th>第一邻区精确覆盖率</th>
            <th>第三邻区精确覆盖率</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="stat in overallStat.townStats | filter: {district: overallStat.currentDistrict}">
            <td>{{stat.town}}</td>
            <td>{{stat.totalMrs}}</td>
            <td>{{stat.preciseRate | number: 2}}</td>
            <td>{{stat.firstRate | number: 2}}</td>
            <td>{{stat.thirdRate | number: 2}}</td>
        </tr>
    </tbody>
</table>