<div class="row">
    <div class="col-md-6">
        <div>
            <label>开始日期：</label>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="beginDate.value"
                       is-open="beginDate.opened" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="beginDate.opened = true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>

        <div>
            <label>结束日期：</label>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="endDate.value"
                       is-open="endDate.opened" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="endDate.opened = true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <label>排序依据：</label>
        <div class="input-group">
            <select class="form-control" ng-model="orderPolicy.selected" ng-options="p as p for p in orderPolicy.options"></select>
            <span class="input-group-btn">
                <button type="button" class="btn btn-warning" ng-click="monitorAll()">
                    <i class="glyphicon glyphicon-search" title="全部监控"></i>
                </button>
            </span>            
        </div>
        <label>TOP个数：</label>
        <div class="input-group">
            <select class="form-control" ng-model="topCount.selected" ng-options="c as c for c in topCount.options"></select>
            <span class="input-group-btn">
                <button type="button" class="btn btn-success" ng-click="query()">
                    <i class="glyphicon glyphicon-stats" title="统计数据"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>小区名称</th>
            <th>MR总数</th>
            <th>第一邻区精确覆盖率</th>
            <th>第二邻区精确覆盖率</th>
            <th>第三邻区精确覆盖率</th>
            <th>TOP天数</th>
            <th>是否监控</th>
            <th>查询操作</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cell in topCells">
            <td>{{cell.eNodebName}}-{{cell.sectorId}}</td>
            <td>{{cell.totalMrs}}</td>
            <td>{{100 - cell.firstRate | number:2}}</td>
            <td>{{100 - cell.secondRate | number:2}}</td>
            <td>{{100 - cell.thirdRate | number:2}}</td>
            <td>{{cell.topDates}}</td>
            <td>
                <span ng-if="cell.isMonitored">已监控</span>
                <span ng-if="!cell.isMonitored">未监控</span>
            </td>
            <td>
                <div style="min-width: 160px" class="input-group" ng-click="updateInfo(cell)">
                    <a class="btn btn-warning" ng-href="{{rootPath}}interference">
                        <i class="glyphicon glyphicon-fullscreen" title="干扰信息"></i>
                    </a>
                    <a class="btn btn-success" ng-href="{{rootPath}}coverage">
                        <i class="glyphicon glyphicon-tree-conifer" title="覆盖信息"></i>
                    </a>
                    <a class="btn btn-primary" ng-href="{{rootPath}}baidumap">
                        <i class="glyphicon glyphicon-globe" title="地理化显示"></i>
                    </a>
                    <a class="btn btn-default" ng-href="{{rootPath}}import">
                        <i class="glyphicon glyphicon-cloud-download" title="监控导入"></i>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
