<div class="row">
    <div class="col-md-6">
        <label>城市：</label>
        <div class="input-group">
            <select class="form-control" ng-model="city.selected" ng-options="c as c for c in city.options"></select>
            <span class="input-group-btn">
                <button type="button" class="btn btn-success" ng-click="showTrend()">
                    <i class="glyphicon glyphicon-search" title="统计数据"></i>
                </button>
                <a class="btn btn-primary" ng-href="{{rootPath}}trendchart">
                    <i class="glyphicon glyphicon-picture" title="查看趋势图"></i>
                </a>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <label>开始日期：</label>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="beginDate.value" 
                       is-open="beginDate.opened" ng-required="true" close-text="Close"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="beginDate.opened = true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>

        <div>
            <label>结束日期：</label>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="endDate.value" 
                       is-open="endDate.opened" ng-required="true" close-text="Close"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="endDate.opened = true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<h4 class="text-center text-primary">测量报告数统计</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>日期</th>
            <th ng-repeat="district in trendStat.districts">{{district}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="stat in trendStat.mrStats">
            <td>{{stat.statDate | date: 'yyyy-MM-dd'}}</td>
            <td ng-repeat="value in stat.values">{{value}}</td>
        </tr>
    </tbody>
</table>
<h4 class="text-center text-primary">精确覆盖率统计</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>日期</th>
            <th ng-repeat="district in trendStat.districts">{{district}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="stat in trendStat.preciseStats">
            <td>{{stat.statDate | date: 'yyyy-MM-dd'}}</td>
            <td ng-repeat="value in stat.values">{{value | number: 2}}</td>
        </tr>
    </tbody>
</table>