<table class="table table-hover">
    <thead>
        <tr>
            <th>校园名称</th>
            <th>用户数</th>
            <th>区域面积（平方米）</th>
            <th>4G基站数</th>
            <th>4G小区数</th>
            <th>3G基站数</th>
            <th>3G小区数</th>
            <th>4G室分数</th>
            <th>3G室分数</th>
            <th>详细信息</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="college in collegeList">
            <td>{{college.name}}</td>
            <td>{{college.expectedSubscribers}}</td>
            <td>{{college.area | number: 2}}</td>
            <td>
                <a href="" ng-click="showENodebs(college.name)">
                    {{college.totalLteENodebs}}
                </a>
            </td>
            <td>
                <a href="" ng-click="showCells(college.name)">
                    {{college.totalLteCells}}
                </a>
            </td>
            <td>
                <a href="" ng-click="showBtss(college.name)">
                    {{college.totalCdmaBts}}
                </a>
            </td>
            <td>
                <a href="" ng-click="showCdmaCells(college.name)">
                    {{college.totalCdmaCells}}
                </a>
            </td>
            <td>
                <a href="" ng-click="showLteDistributions(college.name)">
                    {{college.totalLteIndoors}}
                </a>
            </td>
            <td>
                <a href="" ng-click="showCdmaDistributions(college.name)">
                    {{college.totalCdmaIndoors}}
                </a>
            </td>
            <td>
                <a ng-href="{{rootPath}}query/{{college.name}}" class="btn btn-default">详细</a>
            </td>
        </tr>
    </tbody>
</table>

