<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body">
    <div class="infoBoxContent">
        <div class="title">
            <strong>校园基本信息: </strong>
        </div>
        <div class="list">
            <ul>
                <li>
                    <div class="left">校园名称:</div>
                    <div class="rmb">{{college.name}}</div>
                </li>
                <li>
                    <div class="left">用户数:</div>
                    <div class="rmb">{{college.expectedSubscribers}}</div>
                </li>
                <li>
                    <div class="left">区域面积（平方米）: </div>
                    <div class="rmb">{{college.area | number: 2}}</div>
                </li>
                <li>
                    <div class="left">LTE基站数: </div>
                    <div class="rmb">{{college.totalLteENodebs}}</div>
                </li>
                <li>
                    <div class="left">LTE小区数:</div>
                    <div class="rmb">{{college.totalLteIndoors}}</div>
                </li>
                <li>
                    <div class="left">CDMA基站数:</div>
                    <div class="rmb">{{college.totalCdmaBts}}</div>
                </li>
                <li>
                    <div class="left">CDMA小区数:</div>
                    <div class="rmb">{{college.totalCdmaCells}}</div>
                </li>
                <li>
                    <div class="left">LTE室内分布数: </div>
                    <div class="rmb">{{college.totalLteIndoors}}</div>
                </li>
                <li>
                    <div class="left">CDMA室内分布数: </div>
                    <div class="rmb">{{college.totalCdmaIndoors}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
