<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body">
    <div class="infoBoxContent">
        <div class="title">
            <strong>扇区基本信息: </strong>
        </div>
        <div class="list">
            <ul>
                <li>
                    <div class="left">小区名称</div>
                    <div class="rmb">{{neighbor.cellName}}</div>
                </li>
                <li>
                    <div class="left">室内外</div>
                    <div class="rmb">{{neighbor.indoor}}</div>
                </li>
                <li>
                    <div class="left">方位角</div>
                    <div class="rmb">{{neighbor.azimuth}}</div>
                </li>
                <li>
                    <div class="left">天线挂高</div>
                    <div class="rmb" id="">{{neighbor.height}}</div>
                </li>
                <li>
                    <div class="left">下倾角</div>
                    <div class="rmb" id="">{{neighbor.downTilt}}</div>
                </li>
                <li>
                    <div class="left">天线增益</div>
                    <div class="rmb" id="">{{neighbor.antennaGain}}</div>
                </li>
                <li>
                    <div class="left">频点信息</div>
                    <div class="rmb" id="">{{neighbor.frequency}}</div>
                </li>
                <li>
                    <p id="">{{neighbor.otherInfos}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <label>参数查看：</label>
    <select ng-model="parameter.selected" ng-options="p as p for p in parameter.options"></select>
    <button class="btn btn-warning" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
