
@{
    ViewBag.Title = "Simple AngularJS Test";
}

<div class="row" ng-app="simpleAngular" ng-controller="simple.root">
    <div class="col-md-4">
        @{ 
            Html.RenderPartial("_AngularJSMenu");
        }
    </div>
    <div class="col-md-8">
        <h2>@ViewBag.Title</h2>
        <p>
            <ul class="nav nav-pills">
                <li ng-repeat="sectionItem in sectionItems" ng-class="{active: sectionTitle == sectionItem.name}">
                    <a ng-href="{{sectionItem.url}}">{{sectionItem.displayName}}</a>
                </li>
            </ul>
        </p>
        <div ng-view></div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script>
        var app = angular.module("simpleAngular", ['ngRoute']);
    </script>
    <script src="~/Areas/TestPage/Scripts/angular/simple.controller.js"></script>
    <script src="~/Areas/TestPage/Scripts/angular/menu.controller.js"></script>
}

