
@{
    ViewBag.Title = "Simple AngularJS Test";
}

<div class="row">
    <div class="col-md-4">
        @{ 
            Html.RenderPartial("_AngularJSMenu");
        }
    </div>
    <div class="col-md-8">
        <h2>@ViewBag.Title</h2>
        <div ng-app="simpleAngular">
            <h3>简单类型测试</h3>
            <div ng-controller="SimpleTypeController">
                A={{simpleA}}&nbsp;
                B={{simpleB}}
            </div>  
            <h3>时钟控制器</h3>  
            <div ng-controller="ClockController">
                <span>Hello {{clock}}</span>
            </div>  
            <h3>简单加减法</h3>  
            <div ng-controller="AddController">
                <button ng-click="add(1)" class="btn btn-primary">加1</button>
                <button ng-click="subtract(1)" class="btn btn-danger">减1</button>
                <h4>Current count: {{ counter }}</h4>
            </div>
            <h3>表达式解析测试</h3> 
            <div ng-controller="ParseController">
                表达式：<input ng-model="expr" type="text" placeholder="Enter an expression" />&nbsp;
                表达式解析结果：<span>{{parsedValue}}</span>
            </div>  
            <h3>插值字符串测试</h3> 
            <div ng-controller="InterpolateController">
                <input ng-model="to"
                       type="email"
                       placeholder="Recipient" />
                <textarea ng-model="emailBody"></textarea>
                <pre>{{ previewText }}</pre>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script>
        (function () {
            var app = angular.module("simpleAngular", []);
            var SimpleTypeController = function ($scope) {
                $scope.simpleA = 1;
                $scope.simpleB = 2;
            }
            app.controller("SimpleTypeController", SimpleTypeController);

            var ClockController = function ($scope, $timeout) {
                var updateClock = function () {
                    $scope.clock = new Date();
                    $timeout(function () {
                        updateClock();
                    }, 1000);
                };
                updateClock();
            };
            app.controller("ClockController", ClockController);

            var AddController = function ($scope) {
                $scope.counter = 0;
                $scope.add = function (amount) { $scope.counter += amount; };
                $scope.subtract = function (amount) { $scope.counter -= amount; };
            };
            app.controller("AddController", AddController);

            var ParseController = function ($scope, $parse) {
                $scope.$watch('expr', function (newVal, oldVal, scope) {
                    if (newVal !== oldVal) {
                        var parseFun = $parse(newVal);
                        $scope.parsedValue = parseFun(scope);
                    }
                });
            };
            app.controller("ParseController", ParseController);

            var InterpolateController = function ($scope, $interpolate) {
                // 设置监听
                $scope.$watch('emailBody', function (body) {
                    if (body) {
                        var template = $interpolate(body);
                        $scope.previewText = template({ to: $scope.to });
                    }
                });
            };
            app.controller("InterpolateController", InterpolateController);
        }());
    </script>
}

