<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            校园列表
        </h4>
    </div>
    <div class="panel-body">
        <label>年份</label>
        <select ng-model="collegeInfo.year.selected" ng-options="p as p for p in collegeInfo.year.options"></select>
        <div class="list-group">
            <a ng-repeat="cName in collegeInfo.names" class="list-group-item" ng-class="{active: cName==collegeName}"
               ng-href="{{collegeInfo.url}}/{{cName}}/{{collegeInfo.type}}">{{cName}}</a>
        </div>
    </div>
</div>